
.leftPanel {
	background:#5382FC;
}
.rightPanel .h1{
    color: #01234B;
}
.rightPanel .helpText{
    color: #707070;
}
.customButton{
    font-size: 24px;
    color: #303030;
    font-weight: 500;
    border-radius:30px;
    min-width: 430px;
    height: 60px;
    align-items: center;
}
.customButton svg{
    vertical-align: text-bottom;
    margin-right:15px;
}