//
// Aside
//

// General Mode(all devices)
$bgcolor1: #f00;
$text-white: #fff;
.aside {
	box-shadow: get($aside-config, base, shadow);
	background-color: get($aside-config, base, bg-color);
	transition: get($aside-config, base, transition);

	// Aside Secondary Panel enabled
	.aside-secondary-enabled & {
		width: get($aside-config, base, primary-width) + get($aside-config, base, secondary-width);
	}

	// Aside Secondary Panel disabled
	.aside-secondary-disabled & {
		width: get($aside-config, base, primary-width);
	}

	// Aside Primary Panel
	.aside-primary {
		width: get($aside-config, base, primary-width);
		flex-shrink: 0;

		// Aside Secondary Panel disabled
		.aside-secondary-enabled & {
			border-right: 1px solid $border-color;
		}
		
		.btn.btn-icon.btn-lg {
			height: 36px;
			width: 36px;	
		}
		.active{
			background-color: transparent !important;
			svg{
				fill:#fff;
			}
		}
		.aside-nav{
			ul li{
				margin:0 0 6px 0;
				.active,:hover{
					.svg-icon.svg-icon-md {
						.a {
							fill: #e3eaff;
						}
						.b {
							fill: #4169e1;
							stroke: #4169e1;
						}
					}
					background-color: transparent !important;
				}
				.svg-icon.svg-icon-md svg{
					max-width: 18px;
				}
			}
			
		}
		.aside-header{
			ul li{
				margin:0 0 6px 0;
				.active, :hover{
					.svg-icon.svg-icon-md {
						.a {
							fill: #e3eaff;
						}
						.b {
							fill: #4169e1;
							stroke: #4169e1;
						}
						.c, .d {
							fill: #4169e1;
						}
					}
					background-color: transparent !important;
				}
				.svg-icon.svg-icon-md svg{
					max-width: 18px;
				}
			}
			
		}
	}

	// Aside Secondary Panel
	.aside-secondary {
		overflow: hidden;
		border-right: 1px solid #e9ebf0;
		// Workspace
		.aside-workspace {
			width: get($aside-config, base, secondary-width);
			flex-shrink: 0;
		}

		// Menu
		.aside-menu {
			@include perfect-scrollbar-ver-offset(4px);
		}
	}
	#kt_quick_user_toggle .symbol{
		background: #fda9bd;
		border-radius: 50%;
		width: 29px;
		height: 29px;
		box-shadow: 0 0 0 2px #fff;
		margin: 0 auto;
		font-weight: 500;
		font-size: 11px;
		line-height: 26px;
	}
	.aside-brand{
		padding: 11px 0 15px;
	}
	.aside-footer{
		.asideFooterbottommenu{
			margin-top: 5px;
			padding: 10px 0 5px;
			
			a{
				margin:0 0 6px 0 ;
				.svg-icon.svg-icon-md svg{
					max-width: 18px;
				}
			}
		}
		.btn-toggleIcon.aside-toggle-active{
			background: #4169e1;
			i{
				color: #fff;
			}			
		}
	}
}

// Desktop Mode
@include media-breakpoint-up(lg) {
	.aside {
		// Fixed Aside Mode
		.aside-fixed & {
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			z-index: get($aside-config, base, zindex);
		}

		// Static Aside Mode
		.aside-static & {
			position: relative;
			z-index: 1;
		}

		// Minimized Aside Mode
		.aside-minimize & {
			width: get($aside-config, base, primary-width);
			transition: get($aside-config, base, transition);

			// Aside Primary Panel
			.aside-primary {
				border-color: transparent;
			}
		}

		// Aside Minimize Toggle Icon
		.btn-toggleIcon{
			background:#fff;
			border:1px solid #e9ebf0;
		}
		.favoriteLink{
			height: 35px;
			padding-top: 18px;
			padding-left:9px;
			font: 500 14px/1 Segoe UI,Proxima Nova,arial,serif;
			text-transform: capitalize;
			color: #292d34;
			display: block;
		}
		.customSearch{
			height: 35px;
			margin-top: 8px;
			padding-left:9px;
			font: 500 14px/1 Segoe UI,Proxima Nova,arial,serif;
			text-transform: capitalize;
			color: #292d34;
			display: block;
		}
		.aside-toggle {
			position: absolute;
			right: 0;
			top: 18px;
			height: 20px;
			width: 20px;
			margin-right: -(20px/2);
			z-index: get($aside-config, base, zindex) + 1;
			border-radius: 50%;
			i {
				transition: $transition;
			}

			// Aside Minimize Toggle Icon Active State
			.aside-minimize &,
			&.aside-toggle-active {
				i {
					transition: $transition;
					transform: rotateZ(180deg)#{'/*rtl:ignore*/'};

					[direction="rtl"] & {
						transform: rotateZ(-180deg)#{'/*rtl:ignore*/'};
					}
				}
			}
		}
		.aside-menu-wrapper{
			padding:0 13px 0 9px;
		}
		.aside-menu .menu-nav{
			padding: 0px 0;
			transition: all 0.3s ease;
			.menu-item{
				margin: 0 0 2px;
			}
			> .menu-item-submenu{
				padding-left: 18px;
			}
		}
		.aside-menu .menu-nav > .menu-item > .menu-link{
			padding: 8px 7px;
			min-height: 36px;
			.bgCustom1{
				background-color: $red;
			}
			.bgCustom2{
				background-color: $green;
			}
			.bgCustom3{
				background-color: $blue;
			}
			.bgCustom4{
				background-color: $pink;
			}
			.menu-text{
				font-family: Segoe UI,Proxima Nova,arial,serif;
    			font-weight: 500;
			}
		}
		.aside-menu .menu-nav > .menu-item > .menu-heading i.fa-caret-right, .aside-menu .menu-nav > .menu-item > .menu-link i.fa-caret-right,
		.aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-open > .menu-link i.fa-caret-right
		{
			position: absolute;
			left: -8px;
			top: 10px;
			transition: all 0.3s ease;
		}
		.aside-menu .menu-nav .menu-item.menu-item-open > .menu-heading > i.fa-caret-right, .aside-menu .menu-nav .menu-item.menu-item-open > .menu-link > i.fa-caret-right
		{
			transform: rotateZ(90deg)/*rtl:ignore*/;
		}
		.aside-menu .menu-nav > .menu-item > .menu-link .menu-icon{
			flex: none;
			flex: initial !important;
			width: 20px;
			height: 20px;
			line-height: 20px;
			font-size: 12px !important;
			margin-right: 8px;
			font-family: Segoe UI,arial,serif;
			font-weight: 500;			
		}
		.aside-menu .menu-nav > .menu-item > .menu-submenu .menu-subnav > .menu-item > .menu-link
		{
			padding: 0 8px;
			padding-left: 8px;			
			min-height: 36px;
			.active {
				.menu-icon{
					flex:none;
					width: 20px;
					height: 20px;
					font-size: 12px !important;
					margin-right: 8px;
					margin: auto 8px auto 0;
				}
			}
			.menu-text{
				font-family: Segoe UI,arial,serif;
				font-weight: 500;
			}
		}
		.aside-menu .menu-nav > .menu-item > .menu-submenu > .menu-subnav
			{
				margin-left:8px ;
			> .menu-item > {
				.menu-link {
					padding: 0 8px 0 15px;
					min-height: 36px;
					margin: 5px 0;
				}
			}
		}
		.aside-menu .menu-nav > .menu-item > .menu-submenu .menu-subnav > .menu-item > .menu-submenu .menu-subnav > .menu-item > {
			.menu-link {
			padding: 0 8px;
			padding-left: 8px;			
			min-height: 36px;

				.menu-icon{
					flex:none;
				}

			}			
			.active{
				background: #4169e1;
				stroke: #b9bec7;
				.menu-text{
					color: #fff;
					font-family: Segoe UI,arial,serif;
					font-weight: 500;	
				}
				span{
					border-color: $text-white;
				}
			}
		}
		.aside-menu .menu-nav > .menu-item .menu-submenu > .menu-subnav .menu-submenu > .menu-subnav {
			margin-left: 20px;
		}
		.searchIcon{
			stroke: #b9bec7;
		}
		.searchInput{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			input{
				border-radius: 20px;
			}
		}
		.menuquickIconset{
			.svg-icon.svg-icon-sm svg{
				fill: #b9bec7;
				width: 14px !important;
				height: 14px !important;
			}
		}
		.aside-menu .menu-nav > .menu-item.menu-item-active > .menu-heading, .aside-menu .menu-nav > .menu-item.menu-item-active > .menu-link{
			background-color: #F3F6F9;
		}
		.aside-menu .menu-nav > .menu-item.menu-item-active > .menu-heading .menu-text, .aside-menu .menu-nav > .menu-item.menu-item-active > .menu-link .menu-text{
			color:#4169e1;
			font-family: Segoe UI,Proxima Nova,arial,serif;
			font-weight: 500;
			font-size: 1.05rem;
		}
		.aside-menu .menu-nav > .menu-item.menu-item-active > .menu-heading .menu-icon.svg-icon svg g [fill], .aside-menu .menu-nav > .menu-item.menu-item-active > .menu-link .menu-icon.svg-icon svg g [fill]{
			fill:#fff;
		}
	}
}

// Tablet & Mobile Modes
@include media-breakpoint-down(md) {
	.aside {
		// Aside Primary Panel
		.aside-primary {
			width: get($aside-config, base, primary-width-tablet-and-mobile);

			// Buttons
			.btn.btn-icon.btn-lg {
				width: 40px;
				height: 40px;

				.svg-icon {
					@include svg-icon-size(26px);
				}
			}
			.scroll.scroll-pull {
				padding-right: 6px;
				margin-right: -6px;
			}
		}

		// Aside Secondary Panel
		.aside-secondary {
			// Workspace
			.aside-workspace {
				width: 100%;
				flex-shrink: 0;
				overflow: auto;
			}
		}

		// Aside Minimize Toggle Icon
		.aside-toggle {
			display: none;
		}
	}

	// Aside Secondary Panel enabled
	.aside-secondary-enabled {
		@include offcanvas-width(aside, get($aside-config, base, primary-width-tablet-and-mobile) + get($aside-config, base, secondary-width-tablet-and-mobile));
	}

	// Aside Secondary Panel disabled
	.aside-secondary-disabled {
		@include offcanvas-width(aside, get($aside-config, base, primary-width-tablet-and-mobile));
	}
}

// Build Aside Menu(see mixin: src/sass/components/mixins/_menu-vertical.scss)
@include menu-ver-build-layout($aside-menu-config);
@include menu-ver-build-theme($aside-menu-config, default);

// Build Aside Offcanvas Panel for mobile mode
@include offcanvas-build(aside, tablet-and-mobile, get($aside-config, offcanvas-mobile));
