//
// Content
//

// Desktop Mode
@include media-breakpoint-up(lg) {
	.content {
		padding: get($page-padding, desktop) 0;
	}
}

// Tablet & Mobile Mode
@include media-breakpoint-down(md) {
	.content {
		padding: get($page-padding, tablet-and-mobile) 0;

		// Subheader Enabled Mode
		.subheader-enabled.subheader-transparent & {
			padding-top: 0;
		}
	}
}
#kt_quick_user.userProfilecanvas{
	top: auto;
	height:406px;
    overflow: hidden;
	border-radius: 5px;
	box-shadow: 0 1px 10px 0 rgba(0,0,0,.25);
	.usermodalIconcontainer{
		min-width:40px;
		text-align: center;
		.userIcon{
			margin:3px auto;
		}
		.userIcon.active{
    		box-shadow: 0 0 1px 1px $primary;
		}
		.userIcon:hover{
    		box-shadow: 0 0 1px 1px $primary;
		}
	}
	.userModalcontent{
		.modaluserIcon {
		display: flex;
    	align-items: center;
		cursor: pointer;
	}
		> div{
			padding:15px 20px;
			min-width: 185px;
			max-width: 185px;
		}
		> div:first-child{
			border-right: 1px solid #e9ebf0;
		}
		.userIcon{
			margin-right: 10px;	
			min-width: 26px;
			max-width: 26px;
			min-height: 26px;
			max-height: 26px;
		}
		.userName{
			font-weight: 500;
			font-size: 11px;
			line-height: 1;
			transition: color .2s cubic-bezier(.785,.135,.15,.86) 0s;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			color: #292d34;
		}
		ul li{
			a{
				display: inherit;
				color: #292d34;
				transition: color .2s cubic-bezier(.785,.135,.15,.86) 0s;
				font-weight: 400;
				font-size: 12px;
				line-height: 1;
				font-family: Gotham Pro,Proxima Nova,arial,serif;
				padding: 9px 0;
			}
		}
	}
	.modalFootersection {
		.leftmenuModalfooter ul li {
			margin-right: 0.7rem;
			width: 26px;
			height: 25px;
			border: 1px dashed #676767;
			display: flex;
			border-radius: 50%;
			text-align: center;
			a{
				margin: auto;				
				font-family: $font-family-secondary;

				i{
					color: #676767;
					font-size: 12px;
				}
			}
		}
		.leftmenuModalfooter ul li:first-child {
			width: auto;
			border: 0px;
			border-radius: 0;
		}
	}
}
#kt_quick_user.userProfilecanvas.offcanvas.offcanvas-on{
	left: 10px;
	bottom: 10px;
	width:410px;
}
#kt_quick_user.userProfilecanvas.offcanvas{
	bottom: 10px;
}
.userIcon{
	width:26px;
	height: 26px;
	font-family: $font-family-base;
    font-weight: 500;
	font-size: 10px;
	color: #fff;
    border: 0;	
    display: inline-block;
    background: #de4757;
    border-radius: 50%;
    text-align: center;
	line-height: 26px;
	cursor: pointer;
}
.userName{
	font-weight: 500;
    font-size: 11px;
    line-height: 1;
    transition: color .2s cubic-bezier(.785,.135,.15,.86) 0s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #292d34;
	&:hover {
		color: #292d34;
	}
}
.addNewevents,.addNewevents:hover{
	background-color: transparent !important;
	color: #343434;
    border: 1px dashed #393b4b;
    box-shadow: none !important;
}
.asideTopleftfixedmenu{
	border-bottom:2px solid #e9ebf0;
	padding-bottom: 3px;
	margin-bottom:11px;
	li{
		margin:0 0 6px 0;
	}
	.svg-icon.svg-icon-md svg{
		max-width: 18px;
	}
	.btn.btn-clean:not(:disabled):not(.disabled):active:not(.btn-text), 
	.btn.btn-clean:not(:disabled):not(.disabled).active, 
	.show > .btn.btn-clean.dropdown-toggle, 
	.show .btn.btn-clean.btn-dropdown{
		background-color:transparent;
		svg{
			fill:#fff;
		}
	}
}
.leftMenuuserprofileicon{
	border-top: 1px solid #e9ebf0;
	padding: 10px 0 7px;
	.symbol:last-of-type{
		margin-top: -12px !important;
		width: 33px !important;
		height: 33px !important;
		border: 2px solid #fff !important;
		box-shadow: none !important;
		line-height: 29px !important;
	}
}

.filterFixedheader{
	display: flex;
	height: 55px;
	background: transparent;
	box-shadow: none !important;
	font-size: 12px;
	width: calc(100% - 392px - 0.5rem);
	position: fixed;
	top: 54px;
	right: 2rem;
	border: 0px;
	z-index: 2;
	.card-body{
		
		background: $page-bg;
		z-index: 999;
		border-radius: 0px !important;
		padding: 12px 0;
	}
	.bs-searchbox .form-control{
		height: 26px;
		background: #f2f4f8;
		border-radius: 5px;
		margin: 5px 0 0;
	}
	.form-control{
		background: transparent;
		font-size: 12px;
		border: 0;
		box-shadow: none;
		padding: 0;
		height: auto;
	}
  	.filterForm{
	  	display: flex;

		.MuiFormControl-root{
			display: flex;
			flex-direction: inherit;
			margin: 0;

			.MuiInputLabel-formControl{
				position: relative;
				margin:auto 0;
				color: rgba(0, 0, 0, 0.8);
				font-size: 1.2rem;
				font-family: $font-family-base;
				font-weight: 500;
			}
			.MuiInput-formControl{
				margin:0px;
				color: rgba(0, 0, 0, 0.54);
				em{
					font-style: normal;
				}
			}
			.MuiInput-underline:before{
				content:none;
			}
		}
  	}
}
  .pageTitlecontent{
	position: relative;
	.pageTitle {
		font-size: 16px;
		font-weight: 500;
		font-family: $font-family-base;
		color: #34313A;
	}
  }
  .pageTitlecontent .toggleLefticon{
	top:4px;
  }
  

  /* Middle content section start */

  .contentAreaouter{
	display: flex;
	  width: 100%;
	margin-top: 2rem;
  }
  .contentArea{
	display: inline-block;
	  position: relative;
	  flex-grow: 1;
	padding-left: 3rem;
  }
  .toggleLeftHeadericon{
	  min-width: 16px;
	  max-width: 16px;
	  min-height: 16px;
	  max-height: 16px;
	  display: inline-block;
  }

  .toggleLefticon{
	position: absolute;
	  left: -20px;
	  top: 3px;
	  width: 16px;
	  height: 16px;
	  display: inline-block;
  }
  
  	.toggleLefticon,.toggleLeftHeadericon {
		a{  
			display: inline-block;
			width: 100%;
			height: 100%;
			text-align: center;
			border: 1px solid #707070;
			border-radius: 50%;
			color: inherit;
			line-height: 14px;
			align-items: center;
			
			i{  
				transition: all 0.3s;
				transition: all 0.2s ease-in-out;  
				transform: rotate(0deg);
				width: 100%;
				font-size: 10px;
				color: inherit;
			}
		}
	}
	.toggleLefticon .collapsed i{
		transform: rotate(-90deg);
		transition: all 0.3s;
		transition: all 0.2s ease-in-out; 
	}
  	.topHeadercontent {
	   	li:first-child{
			padding: 0px;
			vertical-align: bottom !important;

			span:last-child{
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				font-family: "Gotham Pro","Proxima Nova",arial,serif;
				font-weight: 500;
				font-size: 10px;
				line-height: 1;
				text-transform: uppercase;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				color: rgba(52,52,52,.5);
				padding: 6px 0 6px;
				vertical-align: bottom;
				display: inline-flex;
			}

		}
		li:first-child  span{
			padding: 3px 10px;
		}
  		li span{
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			font-family: "Gotham Pro","Proxima Nova",arial,serif;
			font-weight: 500;
			font-size: 10px;
			line-height: 1;
			text-transform: uppercase;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			color: rgba(52,52,52,.5);
			padding: 4px 0 6px;
    		display: block;
		}		
		.headingHighlight{
			font-family: "Gotham Pro","Proxima Nova",arial,serif;
			display: inline-flex;
			align-items: center;
			height: 20px;
			line-height: 12px;
			padding: 0 7px;
			border: 1px solid transparent;
			border-radius: 3px 3px 0 0;
			font-size: 11px;
			color: #fff;
			text-transform: uppercase;
			white-space: nowrap;
			z-index: 10;
			align-self: flex-end;
			cursor: pointer;
			vertical-align: bottom;
			margin-right: 10px;
			
			a{
				display: none;
				cursor: pointer;
			}
			a, a:hover{
				margin-left: 0px;
				color: inherit;
				width: 18px;
				height: 100%;
				text-align: center;
				border-left: 1px solid rgba(112,112,112,0.2);

				i{
					font-size: 0.75rem;
					color: inherit;
				}
			}
			a:last-child{
				margin-right:-10px;
			}
			&:hover a{
				display: inline-block !important;
			}
		
		}
	}
  .contentArea .topMiddlecontent ul{
	border: 0px solid #fff;
	box-shadow: 0 0 10px 0 rgba(0,0,0,.05);
	position: relative;
  }

  .contentArea ul{
	margin: 0px;
	display: table;
	width: 100%;
	padding: 0px;
	list-style: none;
	border-bottom: solid 1px #e9e9e9;
  }
  .topHeadercontent{
	 position: -webkit-sticky;
	 position: sticky;
	 top: 0;
	 z-index: 1;
	 background: $page-bg;
  }
  .topHeadercontent ul{
	height: auto;
  }
  .topMiddlecontent{
	background-color: #fff;
  }
  /*.topMiddlecontent{
  margin-bottom: 2rem;
  }*/
  .topMiddlecontent li{
	text-align: center;
	background-color: rgba(255,255,255,0.9);
  }
  .topMiddlecontent li.activeStatuscontent{
	font-size: 13px;
  }
  .topMiddlecontent li .userLogoicon{
	display: flex;
	position: relative;
  }
  .topMiddlecontent ul:hover li {
	background: #fafbfc;
  }
  span.listprofileIcon{
	width: 25px;
    height: 25px;
    border-radius: 50%;
	margin-right: 0.7rem !important;
	line-height: 25px;
	text-align: center;
	color: #fff !important;
	font-size: 10px !important;
	white-space: nowrap;
	font-weight: bold;
  }
  span.listprofileIcon:hover{
	transform: scale(1);
	transition: all 0.5s ease-in-out;
  }
  .rounddashedCircle{
	width: 22px;
	height: 22px;
	border-radius: 50%;
	line-height: 20px;
	font-size: 10px !important;
	display: inline-block !important;
	border: 1px dashed #707070;
	color: #4a4a4a
  }
  .specialInfo {
	display: inline-flex;
    flex-direction: column;
    font-size: 13px;
    padding: 5px;
    margin: 0.1rem 0;
    min-width: 70px;
    border-radius: 3px;
  }
  .specialInfo1 {
	display: inline-flex;
    flex-direction: column;
    font-size: 11px;
    padding: 7px 5px;
    margin: 0.1rem 0;
    min-width: 70px;
    border-radius: 28px;
    font-weight: 500;
  }
  .customProfileBG1{
	background-color: #ff1d1d !important;
  }
  .customProfileBG2{
	background-color: #1d58ff !important;
  }
  .customProfileBG3{
	background-color: #301414 !important;
  }
  .customProfileBG4{
	background-color: #2ecd6f !important;
  }
  .customProfileBG5{
	background-color: #6fd197 !important;
  }
  .customProfileBG6{
	background-color: #e2871b !important;
  }
  .customProfileBG7{
	background-color: #ff7fab !important;
  }
  .customProfileBG8{
	background-color: #b500e2 !important;
  }
  .customProfileBG9{
	background-color: #04a9f4 !important;
  }
  .customProfileBG10{
	background-color: #7c4dff !important;
  }
  .customProfileBG11{
	background-color: #6bc950 !important;
  }
  .customProfileBG12{
	background-color: #0231e8 !important;
  }
  .customProfileBG13{
	background-color: #02bcd4 !important;
  }
  .textColor1{
	color: #ff1d1d !important;
  }
  .textColor2{
	color: #1d58ff !important;
  }
  .textColor3{
	color: #301414 !important;
  }
  .textColor4{
	color: #00716a !important;
  }
  .textColor5{
	color: #6fd197 !important;
  }
  .textColor6{
	color: #e2871b !important;
  }
  .textColor7{
	color: #f5136d !important;
  }
  .textColor8{
	color: #b500e2 !important;
  }
  .textColor9{
	color: #0d97e8 !important;
  }
  .textColor10{
	color: #faad15 !important;
  }
  .textColor15{
	color: #00716A !important;
  }
  .textColor16{
	color: #FF1D1D !important;
  }
  .borderColor1{
	border-color: #ff1d1d !important;
  }
  .borderColor2{
   border-color: #1d58ff !important;
  }
  .borderColor3{
	border-color: #301414 !important;
  }
  .borderColor4{
	border-color: #00716a !important;
  }
  .borderColor5{
	border-color: #6fd197 !important;
  }
  .borderColor6{
	border-color: #e2871b !important;
  }
  .borderColor7{
	border-color: #f5136d !important;
  }
  .borderColor8{
	border-color: #b500e2 !important;
  }
  .borderColor9{
	border-color: #0d97e8 !important;
  }
  .borderColor10{
	border-color: #faad15 !important;
  }
  .borderColor11{
	border-color: #6BC950 !important;
  }
  .borderColor12{
	border-color: #BF55EC !important;
  }
  .borderColor13{
	border-color: #1EBCD4 !important;
  }
  .borderColor14{
	border-color: #FD7FAB !important;
  }
  .textColor11 {
	color: #6BC950 !important;
  }
  .textColor12{
	color: #BF55EC !important;
  }
  .textColor13{
	color: #1EBCD4 !important;
  }
  .textColor14 {
	color: #FD7FAB !important;
  }
  .customProfileBG11 {
	background: #6BC950 !important;
  }
  .customProfileBG12 {
	background: #BF55EC !important;
  }
  .customProfileBG13 {
	background: #1EBCD4 !important;
  }
  .customProfileBG14 {
	background: #FD7FAB !important;
  }

  .topHeadercontent li,.topMiddlecontent li{
  display: table-cell;
  min-width: 95px;
  padding:4px 5px;
  text-align: center;
  vertical-align: middle;
  color: #010101;
  font-size: 11px;
  box-sizing:  border-box;
  &.mw_180 {
	min-width: 180px;
  }
  &.mw_160 {
	min-width: 160px;
  }
  &.mw_120 {
	min-width: 120px;
  }
  &.mw_70 {
	min-width: 70px;
  }
  }

  .topHeadercontent li{
	font-size: 10px;
	padding-bottom: 0px !important;
	text-transform: uppercase;
	padding-left: 0px !important;
  }
  .topHeadercontent li:first-child,.topMiddlecontent li:first-child{
	min-width: 485px;
	max-width: initial;
	text-align: left;
	//vertical-align: bottom;
	padding-left: 15px;
	width: 100%;
  }
  .topMiddlecontent li:first-child {
	.userLogoicon span:last-child{
		transition: color .2s cubic-bezier(.785,.135,.15,.86) 0s;
		  -webkit-font-smoothing: antialiased;
		  -moz-osx-font-smoothing: grayscale;
		  font-family: "Gotham Pro","Proxima Nova",arial,serif;
		  font-weight: 400;
		  font-size: 13.5px;
		  line-height: 25px;
		  padding-right: 11px;
		  margin-right: 0;
		  color: #000;
	  }
  }
  .topHeadercontent li:last-child .addMultiplecolumn{
  position: absolute;
  right: 5px;
  top: 1px;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  line-height: 18px;
  padding: 0;
  font-size: 12px;
  background: #BCC0C7;
  cursor: pointer; 
  i {
	color: #fff;
  }
  }
  .form-control,.custom-select{
	border-radius: 0px;
  }
  .form-row > .col, .form-row > [class*="col-"] {
	padding-right: 10px;
	padding-left: 10px;
  }
  .customColorlist{
	display: inline-block;
	white-space: initial;
	min-width: 145px;
  }
  .customColorlist li{
	display: inline-block;
  }
  .customColorlist li span{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	line-height: 20px;
	display: inline-block !important;
	text-align: center;
	margin:0px;
	font-size: 10px;
	color: #fff !important;
	cursor: pointer;
	text-indent: 150px;
	overflow: hidden;
  }
  .cui__menuLeft__submenu > .cui__menuLeft__navigation{
	padding-left: 20px;
  }
  .leftmenuTitlesearch{
	padding: 0 19px;
	font: 500 14px/1 "Gotham Pro","Proxima Nova",arial,serif;
	  text-transform: capitalize;
	  color: #292d34;
	  margin: 20px 0 10px 0;
	font-weight: 500;
	display: inline-block;
	  width: 100%;
	position: relative;
  }
  .leftmenuTitlesearch span{
	font: 500 14px/1 "Gotham Pro","Proxima Nova",arial,serif;
	  text-transform: capitalize;
	  color: #292d34;
  }
  .leftmenuProfileicon .backProfile::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: auto;
	right: 0;
	width: 9px;
	height: 9px;
	background-color: #1ad67b;
	border: 1px solid #fff;
	border-radius: 50%;
  }
  .customeListtable tbody tr td,.customeListtable thead tr th{
	text-align: center;
  }
  .customeListtable thead tr th:first-child{
  padding-bottom: 0px;
  padding-left: 0px;
  }
  .customeListtable thead tr th span{
	padding: 5px 10px;
	font-family: var(--kit-font-family);
	font-weight: 400;
  }
  .customeListtable thead tr th{
	font-size: 10px;
	text-transform: uppercase;
  }
  .customeListtable tbody{    
	background-color: #fff;
  }
  .customeListtable tbody tr td{    
	  vertical-align: middle;
	  color: #303030;
	  font-size: 12px;
	  font-family: var(--kit-font-family);
	  padding: 0.3rem 0.75rem;
  }
  .customeListtable tbody tr td:first-child,.customeListtable thead tr th:first-child{
	min-width: 250px;
	  width: 100%;
	  max-width: initial;
	  text-align: left;
  }
  .tableFixHead{position: sticky; top: 0;  }
  
  .customeDropdownmenu li a > svg,.customeDropdownmenu li a > span{
	display: flex;
	margin:auto 0;
  }
  .customeDropdownmenu > li{
	margin: 0 0 2px 0;
  }

  .customNewtaskBTN{
	transition: opacity .1s cubic-bezier(.785,.135,.15,.86) 0s;
	font: 11px/11px "Gotham Pro","Proxima Nova",arial,serif;
	color: #7c828d;
	border: 0;
	background-color:$page-bg;
  }
  .saveNewtask{
	font: 500 11px/11px "Gotham Pro","Proxima Nova",arial,serif;
	padding: 0.4rem;
  }
  .newTask_1{
	border: 1px solid #1c6afc !important;
  }
  .newTask_1 li:last-child{
	min-width: 280px;
	padding-right:12px;
  }
  .newTaskinput,.newTaskinput:focus:active {
	border: 0px !important;
    box-shadow: none !important;
    outline: none;
	width:100%;  
	height: 31px;
	font-family: "Gotham Pro","Proxima Nova",arial,serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.5;
	padding-left: 20px;
  }
	.newTaskinput::placeholder { /* Most modern browsers support this now. */
	color:    rgb(187, 188, 196);
	font-size: 12px;
	}
  .newTask_1 li:last-child .ctrlSpan{
	font: 400 11px/1 "Gotham Pro","Proxima Nova",arial,serif;
	color: #cbc9cf;
  }
  .removeNewtask{
	border: 0;
	background: transparent;
	font-weight: 600;
	color: #707070;
  }
  .createNewtimeicon{
	color: var(--kit-color-primary) ;
  }
  .createNewtimeicon span{
	border-radius: 50%;
	background-color: var(--kit-color-primary) ;
	width: 20px;
	line-height: 20px;
	height: 20px;
	text-align: center;
	color: #fff;
	display: inline-block;
  }
  .leftDoctorslist .kit__utils__avatar{
	padding: 5px;
	border: 1px dashed #a5a5a5;
	border-radius: 50%;
	position: relative;
	overflow: visible;
	width: 40px;
	height: 40px;
  }
  .activeDoctorselectedtick{
	position: absolute;
	  right: 0;
	  bottom: 0;
	  background: #fff;
	  border-radius: 50%;
	  width: 15px;
	  height: 15px;
	  font-size: 10px;
	  color: #000;
	  line-height: 15px;
	  text-align: center;
  }

/* Middle content section start */
.patientAppoinment {
	.table thead tr{
		th {
			color: #9598AE;
			font-weight: bold;
			font-size: 12px;
		}
	}
	.table tbody tr{
		box-shadow: 0 3px 6px 0 #1043a71a;
		border-radius: 5px;
		td {
			border-top: 0;
			font-size: 12px;
			font-weight: bold;
			color: #7C828D;
			strong{
				font-weight: bold;
				font-size: 13px;
				color: #303030;
			}
			span {
				font-weight: 500;
			}
		}
		&.no_shadow {
			box-shadow: none;
			border-radius: 0;
			td {
				height: 15px;
			}
		}
	}
	.table th, .table td{
		vertical-align: middle;
	}
	.table td:first-child{
		width: 70px;
	}
	.table-striped tbody tr:nth-of-type(odd){
		background-color: transparent;
	}
	.appoinmentIcon{
		width: 40px;
		height: 40px;
		display: flex;
		margin: 10px auto;
		background: #fff;
		text-align: center;
		vertical-align: middle;
		box-shadow: 0 3px 6px 0 #1043a71a;

		img{
			margin: auto;
		}
	}
	.paymentStatus{
		width: 30px;
		height: 30px;
		display: flex;
		margin: auto;
		background: #fff;
		align-items: center;
		justify-content: center;
		box-shadow: 0 3px 6px 0 #1043a71a;

		&.paid{
			background: #DCF6D2;
		}
		&.unpaid{
			background: #FF9C8B;
		}
	}
}
.col.wid_360 {
    max-width: 360px;
}
.patientProfileinfo{
	.MuiDrawer-paper{
		top: 5%;
		bottom: 5%;
		height: auto;
		box-shadow: -10px 0px 20px 0px #1c6afc1a;
		border: 1px solid #E9E9E9;
		border-radius: 10px 0px 0px 10px;
		max-width: 550px;
		width: 100%;
		overflow: visible;
	}
	.closeDrawer{
        width: 40px;
        height: 40px;
        min-height: 40px;
        background-color: #fff;
        box-shadow: 0 0px 10px 2px #1043a74f;
        border-radius: 50%;
        display: flex;
        justify-items: center;
        justify-content: center;
        position: absolute;
        left: -50px;
        top: 10px;
        span{           
            color: #292D34 !important;
        }
    }
}
.patientsList, .patientDetailsoverview{
	transition: all 5s ease-in-out;
	.patientSearch{
		position: absolute;
		left: 0;
		width: calc(100% - 0px);
		transition: all 5s ease-in-out;
		input{
			padding-right: 70px;
			padding-left: 5px;
		}
	}
	.searchIcon{
		width: 30px;
    	text-align: center;
		z-index: 9;
	}
	&.card_bg{
		box-shadow: 0 3px 6px 0 #1043a71a;
		border: 0;
		background-color: #fff;
		background-clip: border-box;
		padding: 12px 11px;
		border-radius: 10px;    
		margin-bottom: 13px;
	}
	.userName{
		color: #292D34;
	}
	span{
		color: #7C828D;
	}
    .symbol.symbol-50 .symbol-label {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
    }
	.online{
		color: #28A829;
	}
	.offline{
		color: #E27D5F;
	}
	.recentVisit{
		color: #FEB92B;
	}
	.status{
		position: relative;
		&::before{
			content: '';
			width:8px;
			height: 8px;
			border-radius: 50%;			
			position: absolute;
			top:calc(50% - 4.5px);
			left: 0px;
		}
		&.online::before{
			background-color:#28A829 ;
		}
		&.offline::before{
			background-color:#E27D5F ;
		}
		&.recentVisit::before{
			background-color:#FEB92B ;
		}

	}
	&.selectedUser{
		background-color: #1D6AFF;
		& ,a, i{
			color:$text-white;
		}
		span{
			color: $text-white;
		}
		.online{
			color: $text-white;
		}
		.status{
			&::before{
				background-color:#fff ;
			}
		}
	}
}
.patientDetailsoverview{
	.patientProfileimg{
		img{
			width: 100px;
			height: 100px;
		}
	}
	
	span{
		color: #292D34;
	}
	.patientPersoanlinfo{
		label{
			color:#292D34;
			font-size: 1rem;
			font-weight: 500;
		}
		.border-bottom {
			border-bottom: 1px solid #E9E9E9 !important;
		}
	}
	.testReports{
		color:#292D34;
		font-size: 1rem;
		box-shadow: 0px 3px 6px #00000029;
		border-radius: 5px;

		img{
			max-width: 40px;
		}
	}
}
.patientFiles{
    margin-bottom: 15px;
	max-width: 33.33%;
	.patientFiles_inner {
		box-shadow: 0 3px 6px 0 #00000029;
		border: 0;
		background-color: #fff;
		background-clip: border-box;
		padding: 20px 75px 20px 15px;
		border-radius: 3px;
		margin: 0 10px;
		position: relative;
		.file_hover {
			position: absolute;
			right: 20px;
			top: 28px;
		}
		.file_icon {
			display: none;
		}
		&:hover .file_size{
			display: none;
		}
		&:hover .file_icon{
			display: block;
		}
	}
}
.custompatientTab{
	&.nav-tabs {
		padding: 0 15px;
		border-bottom: 0;
	}
	&.nav .nav-link{
		text-transform: uppercase;
		font-weight: bold;
		font-size: 12px;
		position: relative;
		border: 0px;
		padding: 2rem 0;
		margin-right: 2rem;
		background: transparent;
		&.active::after{
			content:'';
			width:30px;
			border-radius: 3px;
			height: 6px;
			background-color: #1D6AFF;
			position: absolute;
			left: 0;
			bottom: 0;

		}
	}
}
.history_card {
    .MuiAvatar-root {
        width: 80px;
        height: 80px;
        display: flex;
        position: relative;
        align-items: center;
        flex-shrink: 0;
        line-height: 1;
        user-select: none;
        border-radius: 50%;
        justify-content: center;
        margin: 15px auto;
        border: 6px solid #F4F5F8;
        img {
            width: 100%;
			border-radius: 50%;
        }
    }
    .card {
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 5px;
        border: 0;
        margin: 15px 10px;
    }
	.card-tit {
		font-size: 10px;
		font-weight: bold;
		color: #707070;
		margin-bottom: 0;
	}
	.card-sub-tit {
		font-size: 7px;
		font-weight: 500;
		color: #707070;
		img {
			height: 11px;
			margin-right: 5px;
		}
	}
	.card-sss-tit {
		font-size: 8px;
		font-weight: 500;
		color: #c0c0c0;
		margin: 0px 0 0px;
		img {
			height: 8px;
			margin: 0px 5px;
		}
	}
	.border-top {
		border-top: 1px solid #E9E9E9 !important;
	}
	.border-left {
		border-left: 1px solid #E9E9E9 !important;
	}
	.img_mve {
		left: -22px;
		top: 22px;
		.star_icon {
			border-radius: 0;
			width: 10px;
			margin-bottom: 7px;
			display: block;
		}
		.man_icon {
			border-radius: 0;
			width: 8px;
			margin-bottom: 7px;
		}
	}
	.mh_70 {
		min-height: 70px;
	}
  }
	.font_weight_bold {
		font-weight: bold !important;
	}
	.font_weight_medium {
		font-weight: 500 !important;
	}
	.color_707070 {
		color: #707070 !important;
	}
	.color_303030 {
		color: #303030 !important;
	}
	.color_292D34 {
		color: #292D34 !important;
	}
	.color_c0c0c0 {
		color: #c0c0c0 !important;
	}
	.color_1D6AFF{
		color: #1D6AFF !important;
	}
	.mw_130 {
		min-width: 130px;
	}
	.invoice_card {
		font-size: 14px;
		color: #292D34;
		.btn-primary {
			background: #1D6AFF;
			border-color: #1D6AFF;
			border-radius: 20px;
			min-width: 150px;
			min-height: 40px;
			font-size: 14px;
			font-weight: 500;
			margin: 0 15px;
			&:hover, &:focus {
				background: #1D6AFF !important;
				border-color: #1D6AFF !important;	
			}
		} 
		.table thead th {
			font-weight: bold;
		}
		.table td {
			font-weight: 500;
		}
		.table tfoot tr{
			&:first-child{
				border-top: 1px solid #ebebeb;
				border-bottom: 0px;
			}
			td {
				font-weight: bold;
				border-bottom: 1px solid #ebebeb;

				&:first-child{
					border-top: 0px;
					border-bottom: 0px;
				}
			}
		} 
  	}
	.tab_col {
		width: 35px;
		height: 35px;
		line-height: 32px;
		border-radius: 50%;
		background-color: #f4f5f9;
		text-align: center;
		margin: 17px 7px;
		&.no-bg {
			background-color: transparent;
			img {
				height: 13px;
			}
			&:hover {
				background-color: transparent;
				img {
					filter: none;
					-webkit-filter: none;
				}
			}
		}
		&:hover {
			background-color: #1D6AFF;
			cursor: pointer;
			img {
				filter: brightness(0) invert(1);
				-webkit-filter: brightness(0) invert(1);
			}
		}
		img {
			height: 16px;
			&.mai {
				height: 12px;
			}
		}
	}
	.hist_detail {
		img.w130 {
			width: 110px;
			height: 110px;
		}
		.btn-primary {
			background: #1D6AFF;
			border-color: #1D6AFF;
			border-radius: 20px;
			min-width: 160px;
			min-height: 40px;
			font-size: 13px;
			font-weight: 500;
			margin: 0 15px;
			&:hover {
				background: #1D6AFF !important;
				border-color: #1D6AFF !important;	
			}
		}
		.rep_check {
			span {
				width: 50%;
				margin-bottom: 18px;
				position: relative;
				padding-left: 25px;
				&:before {
					content: "";
					background:url(/media/patients/rep_check.svg);
					position: absolute;
					width: 16px;
					height:  16px;
					left: 0;
					top: 2px;
				}
			}
		}
	}
	.patientButton {
		.btn-primary {
			background: #1D6AFF;
			border-color: #1D6AFF;
			border-radius: 20px;
			min-width: 220px;
			min-height: 40px;
			font-size: 13px;
			font-weight: 500;
			margin: 0 15px;
			&:hover, &:active, &:focus {
				background: #1D6AFF !important;
				border-color: #1D6AFF !important;	
			}
		}
	}
	.book_type {
		span {
			width: 50%;
			margin: 18px 0;
			position: relative;
			padding-left: 50px;
			&:before {
				content: "";
				position: absolute;
				width: 34px;
				height:  34px;
				left: 0;
				top: -5px;
				border-radius: 50%;
				background-repeat: no-repeat;
				background-position: center;
			}
			&.book_chat {
				&::before {
					background-color: #1D6AFF;
					background-image:url(/media/patients/book_chat.svg);
				}
			}
			&.book_vid {
				&::before {
					background-color: #F9DA31;
					background-image:url(/media/patients/book_video.svg);
				}
			}
			&.book_ph {
				&::before {
					background-color: #FD7822;
					background-image:url(/media/patients/book_phone.svg);
				}
			}
			&.book_person {
				&::before {
					background-color: #1CAAF4;
					background-image:url(/media/patients/book_visit.svg);
				}
			}
		}
	}
	.gen {
		font-size: 14px;
		color: #707070;
		text-align: center;
		input[type=radio] {
			border: 0;
			clip: rect(0 0 0 0);
			height: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			width: 1px;
		}
		input[type=radio]+label  {
			position:relative;
			vertical-align:middle;
			-webkit-user-select:none;
			-moz-user-select:none;
			-ms-user-select:none;
			user-select:none;
			cursor:pointer;
			border: 1px solid #C0C0C0;
			border-radius: 28px;
			padding: 7px;
			min-width: 120px;
			margin-right: 20px;
			font-weight: 500;
		}
		input[type=radio]:checked+label, input[type=radio]+label:hover {
			background: #36A4FD;
			color: #fff;
			border: 1px solid #36A4FD;
		}
		&.fem {
			input[type=radio]:checked+label, input[type=radio]+label:hover {
				background: #F06292;
				color: #fff;
				border: 1px solid #F06292;
			}	
		}
	}
	.edit_staff {
		display:  none;
		position: relative;
		.tab_col {
			width: 26px;
			height: 26px;
			line-height: 24px;
			position: absolute;
			left: 0px;
			background-color: transparent;
			img {
				height: 12px;
				filter: brightness(0) invert(0);
				-webkit-filter: brightness(0) invert(0);
				opacity: 0.5;
			}
			&:hover {
				background-color: #EAF0FF;
				img {
					filter: none;
					-webkit-filter: none;
					opacity: 1;
				}
			}
		}
	}
	.drag_hov {
		display: none;
		margin-top: 8px;
		width: 27px;
	}
	.cu-task-row-toggle__marker {
		width: 13px;
		height: 13px;
		border-radius: 50%;
		border: 1px solid #dbdbdb;
		background: #fff;
		display: inline-flex;
		margin-right: 5px;
		margin-top: 0;
		position: relative;
	}
	.cu-task-row-toggle__marker:after {
		content: "";
		display: block;
		position: absolute;
		background: #188efc;
		opacity: 0;
		top: 2px;
		left: 2px;
		width: 7px;
		height: 7px;
		border-radius: 50%;
	}
	.drag_selected .cu-task-row-toggle__marker:after {
		opacity: 1;
	}
	.drag_img {
		width: 6px;
		height: 14px;
		display: inline-flex;
	}
	.avalib {
		opacity: 0;
		.tab_col {
			margin: 0px 2px;
			background-color: transparent;
			width: 32px;
			height: 32px;
			line-height: 30px;
			img {
				filter: brightness(0) invert(0);
				-webkit-filter: brightness(0) invert(0);
				opacity: 0.5;
				height: 15px;
				&.mai1 {
					height: 14px;
				}
			}
			&:hover {
				background-color: #EAF0FF;
				img {
					filter: none;
					-webkit-filter: none;
					opacity: 1;
				}
			}
		}
	}
	.drag_sel:hover {
		.drag_hov {
			display: flex;
			margin-left: -27px;
		}
		.edit_staff {
			display:  block;
		}
		.avalib {
			opacity: 1;
		}
	}
	.topMiddlecontent {
		.drag_sel:hover {
			ul li {
				background: #fafbfc;
			}
			li:first-child {
				.userLogoicon span:last-child {
					color: #1D6AFF;
				}
			}
		}
	}
	span.avails {
		width: 20px;
		height: 20px;
		border-radius: 50%;
		text-align: center;
		margin-right: 7px;
		&.phone_bg {
			background: #FD7822;
		}
		&.visit_bg {
			background: #1CAAF4;
		}
		&.chat_bg {
			background: #1D6AFF;
		}
		&.video_bg {
			background: #F9DA31;
		}
		img {
			margin-top: 3px;
		}
	}
	.tool_bg {
		.tooltip-inner {
			background: #394148;
			color: #ffffff;
		}
		&.bs-tooltip-top {
			.arrow::before {
				border-top-color: #394148;
			}
		}
	}
	.topMiddlecontent li {
		&.active_clr {
			background-color: #7C4CFC !important;
		}
		&.inactive_clr {
			background-color: #DD0D4B !important;
		}
		&.male_bg {
			background-color: #0A32E8 !important;
		}
		&.female_bg {
			background-color: #F062CA !important;
		}
	}
	.acupunture {
		background: #E6511B;
	}
	.dental {
		background: #FD7FAB;
	}
	.skincare {
		background: #EA80FC;
	}
	.amoxicillin {
		background: #0A31E8;
	}
	.calcium {
		background: #F9D930;
	}
	.ambien {
		background: #1DBC9C;
	}
	.prinvil {
		background: #FD7FAB;
	}
	.advil {
		background: #EA80FC;
	}
	.avail_wid {
		width: 80px;
		margin-left: auto;
		margin-right: auto;
	}
	@media (max-width: 1400px) {
		.aside-fixed.aside-secondary-enabled.subheader-fixed .subheader {
			left: 275px;
		}
		.aside-secondary-enabled.aside-fixed .wrapper {
			padding-left: 275px;
		}
		.aside-secondary-enabled .aside {
			width: 275px;
		}
		.aside .aside-secondary .aside-workspace {
			width: 225px;
		}
		.filterFixedheader {
			font-size: 12px;
			width: calc(100% - 310px - 0.5rem);
			right: 1rem;
		}
		.col.wid_360 {
			max-width: 310px;
		}
		.patientsList.card_bg, .patientDetailsoverview.card_bg {
			padding: 10px 6px;
			margin-bottom: 10px;
		}
		.patientsList .userName {
			width: 120px;
		}
		.custompatientTab.nav .nav-link {
			margin-right: 1.2rem;
		}
		.patientFiles {
			max-width: 50%;
		}
		.history_card .card {
			margin-left: 0;
			margin-right: 0;
		}
		.topHeadercontent li,.topMiddlecontent li {
			min-width: 85px;
			&.mw_180 {
			  min-width: 165px;
			}
			&.mw_160 {
			  min-width: 140px;
			}
			&.mw_120 {
			  min-width: 100px;
			}
			&.mw_70 {
			  min-width: 65px;
			}
		}
		.topMiddlecontent li.activeStatuscontent {
			font-size: 12px;
		}
		.topHeadercontent li:first-child,.topMiddlecontent li:first-child{
			min-width: 185px;
			width: auto;
			padding-left: 8px;
		}
		.contentArea {
			padding-left: 1.5rem;
		}
		.avalib {
			.tab_col {
				margin: 0px 1px;
				width: 30px;
				height: 30px;
				line-height: 30px;
				img {
					height: 13px;
					&.mai1 {
						height: 12px;
					}
				}
			}
		}
		.topMiddlecontent li:first-child {
			.userLogoicon span:last-child {
				font-size: 12px;
				padding-right: 6px;
			}
		}
		.specialInfo {
			font-size: 11px;
		}
	}
	@media (max-width: 1280px) {
		.contentAreaouter {
			overflow: hidden;
			.contentArea {
				overflow-x: scroll;
			}
		}
	}
	@media (max-width: 1024px) {
		.col.wid_360 {
			max-width: 100%;
		}
	}
	@media (max-width: 768px) {
		.aside-secondary-enabled.aside-fixed .wrapper {
			padding-left: 0;
		}
	}