//
// Content
//

// Desktop Mode
@include media-breakpoint-up(lg) {
	.content {
		padding: get($page-padding, desktop) 0;
	}
}

// Tablet & Mobile Mode
@include media-breakpoint-down(md) {
	.content {
		padding: get($page-padding, tablet-and-mobile) 0;

		// Subheader Enabled Mode
		.subheader-enabled.subheader-transparent & {
			padding-top: 0;
		}
	}
}
#kt_quick_user.userProfilecanvas{
	top: auto;
	height:406px;
    overflow: hidden;
	border-radius: 5px;
	box-shadow: 0 1px 10px 0 rgba(0,0,0,.25);
	.usermodalIconcontainer{
		min-width:40px;
		text-align: center;
		.userIcon{
			margin:3px auto;
		}
		.userIcon.active{
    		box-shadow: 0 0 1px 1px $primary;
		}
		.userIcon:hover{
    		box-shadow: 0 0 1px 1px $primary;
		}
	}
	.userModalcontent{
		> div{
			padding:15px 20px;
			min-width: 185px;
			max-width: 185px;
		}
		> div:first-child{
			border-right: 1px solid #e9ebf0;
		}
		.userIcon{
			margin-right: 10px;	
		}
		ul li{
			a{
				padding: 6px 0;
				display: inherit;
				color: #292d34;
				font-family: $font-family-secondary;
			}
		}
	}
	.modalFootersection {
		.leftmenuModalfooter ul li {
			margin-right: 0.7rem;
			width: 26px;
			height: 25px;
			border: 1px dashed #676767;
			display: flex;
			border-radius: 50%;
			text-align: center;
			a{
				margin: auto;				
				font-family: $font-family-secondary;

				i{
					color: #676767;
					font-size: 12px;
				}
			}
		}
		.leftmenuModalfooter ul li:first-child {
			width: auto;
			border: 0px;
			border-radius: 0;
		}
	}
}
#kt_quick_user.userProfilecanvas.offcanvas.offcanvas-on{
	left: 10px;
	bottom: 10px;
	width:410px;
}
#kt_quick_user.userProfilecanvas.offcanvas{
	bottom: 10px;
}
.userIcon{
	width:26px;
	height: 26px;
	font-family: $font-family-base;
    font-weight: 500;
	font-size: 10px;
	color: #fff;
    border: 0;	
    display: inline-block;
    background: #de4757;
    border-radius: 50%;
    text-align: center;
	line-height: 26px;
	cursor: pointer;
}
.userName{
	font-family: $font-family-base;
	font-weight: 500;
    font-size: 11px;
    line-height: 1;
    transition: color .2s cubic-bezier(.785,.135,.15,.86) 0s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #292d34;
}
.addNewevents,.addNewevents:hover{
	background-color: transparent !important;
	color: #343434;
    border: 1px dashed #393b4b;
    box-shadow: none !important;
}
.asideTopleftfixedmenu{
	border-bottom:2px solid #e9ebf0;
	padding-bottom: 3px;
	margin-bottom:11px;
	li{
		margin:0 0 6px 0;
	}
	.svg-icon.svg-icon-md svg{
		max-width: 18px;
	}
	.btn.btn-clean:not(:disabled):not(.disabled):active:not(.btn-text), 
	.btn.btn-clean:not(:disabled):not(.disabled).active, 
	.show > .btn.btn-clean.dropdown-toggle, 
	.show .btn.btn-clean.btn-dropdown{
		background-color:transparent;
		svg{
			fill:#fff;
		}
	}
}
.leftMenuuserprofileicon{
	border-top: 1px solid #e9ebf0;
	padding: 10px 0 7px;
	.symbol:last-of-type{
		margin-top: -12px !important;
		width: 33px !important;
		height: 33px !important;
		border: 2px solid #fff !important;
		box-shadow: none !important;
		line-height: 29px !important;
	}
}

.filterFixedheader{
	display: flex;
	height: 54px;
	margin-top: -2rem;
	margin-bottom: 1rem;
	background: transparent;
	box-shadow: none !important;
	font-size: 12px;
  }
  .filterFixedheader .btn,.filterFixedheader .btn:hover,.filterFixedheader .btn:focus,.filterFixedheader .btn:active,
  .filterFixedheader .btn-light:not(:disabled):not(.disabled):active,.filterFixedheader .btn-light:not(:disabled):not(.disabled).active,
  .filterFixedheader .show > .btn-light.dropdown-toggle{ 
	background: transparent;
	box-shadow: none !important;
	font-size: 12px;
	border:0px;
	padding-left: 5px;
	color: #707070 !important;
  }
  .filterFixedheader .card-body{
	position: fixed;
	top: 54px;
	right: 2rem;
	width: calc(100% - 392px - 0.5rem);
	background: #eee;
	z-index: 999;
	border-radius: 0px !important;
	padding: 12px 0;
  }
  .filterFixedheader .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
	width:auto;
	min-width: 80px;
  }
  .filterFixedheader .bootstrap-select .dropdown-menu li{
	border-bottom: 1px solid #eeeeee;
  }
  .filterFixedheader .bootstrap-select .dropdown-menu li:last-child{
	border: 0px;
  }
  .filterFixedheader .bs-searchbox .form-control{
	height: 26px;
	background: #f2f4f8;
	border-radius: 5px;
	margin: 5px 0 0;
  }
  .filterFixedheader .bootstrap-select .dropdown-menu li a span.text{
	font-size: 12px;
	min-width: 70px;
  }
  .filterFixedheader .dropdown .dropdown-menu .dropdown-item.active:after,.filterFixedheader  .btn-group .dropdown-menu .dropdown-item.active:after{
	content:"\f00c";
	position: absolute;
	right: 5px;
	font-family: 'FontAwesome';
	font-size: 10px;
	top: 7px;
	font-weight: normal;
  }
  .filterFixedheader  .dropdown .dropdown-menu{
	padding: 0;
  }
  .filterFixedheader  .dropdown .dropdown-menu .dropdown-item{
	padding-left: 0.5rem;
  }
  .filterFixedheader  .dropdown .dropdown-menu .dropdown-item.active{
	background: transparent !important;
  }
  .filterFixedheader .form-control{
	background: transparent;
	font-size: 12px;
	border: 0;
	box-shadow: none;
	padding: 0;
	height: auto;
  }
  .filterFixedheader .bootstrap-select.show-tick .dropdown-menu .selected span.check-mark{
	top:10px;
  }
  .filterFixedheader .bootstrap-select .bs-ok-default:after {
	content: '';
	display: block;
	width: 0.3em;
	height: 0.6em;
	border-style: solid;
	border-width: 0 .17em .17em 0;
  }
  .filterFixedheader .form-group{
	margin: auto;
  }
  .pageTitlecontent{
	position: relative;
  }
  .pageTitlecontent .toggleLefticon{
	top:4px;
  }