//
// Login 1
// Pages SASS files are compiled into separate css files
//


// Initialization of global variables, mixins and functions
@import "../../../init";

.login.login-1 {
    // Form modes
    .login-signin,
    .login-signup,
    .login-forgot {
        display: none;
        .form-label{
            color: $dark-85 !important;
            font-size: 15px;
            margin-bottom: 0.75rem;
        }
        /*.btn{
            height:56px;
        }*/
        .createAccountlink,.createAccountlink:hover{
            text-decoration: underline !important;
        }
    }

    &.login-signin-on {
        .login-signup {
            display: none;
        }

        .login-signin {
            display: block;
        }

        .login-forgot {
            display: none;
        }
    }

    &.login-signup-on {
        .login-signup {
            display: block;
        }

        .login-signin {
            display: none;
        }

        .login-forgot {
            display: none;
        }
    }

    &.login-forgot-on {
        .login-signup {
            display: none;
        }

        .login-signin {
            display: none;
        }

        .login-forgot {
            display: block;
        }
    }
}

.font-size-36{
    font-size: 36px !important;
}
.font-size-16{
    font-size: 16px !important;
}
.font-size-30{
    font-size: 30px !important;
}
.font-size-14{
    font-size: 14px !important;
}
.color_01234B{
    color: #01234B;
}
.loginRightimg{
    max-width: 550px;
}
.passwordIcon,.emailIcon{
    position: relative;
}
.login{
    position: relative;
    overflow: hidden;
}
.loginMaincontent{
    z-index: 2;
}
.login:before{
   /* content: url(/media/auth-screen/bottomLeft.svg);
    position: absolute;
    bottom: -30%;
    left: -20%; */
    content: '';
    position: absolute;
    bottom: 0;
    left: -10%;
    width: 100%;
    height: 300px;
    z-index: 1;
    background-image: url(/media/auth-screen/bottomLeft.svg);
    background-color: transparent;
    background-repeat: no-repeat;
}
.login:after{
    /*content: url(/media/auth-screen/topRight.svg);
    position: absolute;
    top: 0;
    right: 20px;*/
    content: '';
    position: absolute;
    top: 0;
    right: 0%;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: url(/media/auth-screen/topRight.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: top right;

}
.emailIcon:before{
    content: url(/media/auth-screen/emailIcon.svg);
    position: absolute;
    top: 20px;
    left: 20px;
}
.passwordIcon:before{
    content: url(/media/auth-screen/passwordIcon.svg);
    position: absolute;
    top: 18px;
    left: 20px;
}
.login-form input.form-control{
    font-size: 14px;
}
.login-form input.form-control{
    padding-left: 50px !important;
    border-radius: 10px;
    height: 56px !important;
    color: $dark_85;
}
.registration-form{
    .form-label{
        margin-bottom: 0 !important;
    }
    input.form-control{
        padding-left: 0px !important;
        border: 0px;
        border-bottom: 1px solid #C6DBF4;
        height: 44px !important;
        color: $dark_85;
    }
    .rightPanel {
        .h1{
            color: #01234B;
        }
        .helpText{
            color: #707070;
        }
        .subCategory{
            border: 1px solid #C6DBF4;
            color: #3F4772;
            display: inline-flex;
            height: 60px;
            border-radius: 30px;
            align-items: center;
            padding: 0 12px;
            font-size: 20px;
            font-weight: $font-weight-bold;
            font-family: $font-family-base;
            margin: 0.5rem;
            .catIcon{
                width: 36px;
                height: 36px;
                background-color:#D5D5D5;                
                display: inline-flex;
                align-items: center;
                justify-content: center;
                align-self: center;
                color: $white;
            }
            &.active{
                background: #1C6AFC;
                color: #fff;
                .catIcon{
                    background-color: rgba(255,255,255, 0.4);
                }
            }
        }
    }
    .customButton{
        font-size: 18px;
        color: #303030;
        font-weight: 500;
        border-radius:40px;
        min-width: 430px;
        height: 80px !important;
        align-items: center;
        
        svg{
            vertical-align: text-bottom;
            margin-right:15px;
        }
    }
    .categoryList{
        max-height: 450px;
        overflow: auto;
        .btn{
            background:transparent;
            border: 1px solid #C6DBF4;
            min-height: 100px;
            font-size: 12px;
            
            img{
                max-width: 80%;
            }
        }
        .btn.btn-light:hover:not(.btn-text):not(:disabled):not(.disabled), .btn.btn-light:focus:not(.btn-text), .btn.btn-light.focus:not(.btn-text),.active{
            background:transparent !important;
            border-color: #1C6AFC  !important;
            box-shadow: 0 0 10px 0px #1C6AFC !important;
        }
        & > div{
            width: 20%;
            padding: 1rem;
        }
    }
    .nextButton{
        padding:0 15px;
        height:40px;
        border-radius: 20px;
        background:#1C6AFC !important;
        color: $white;
        font-weight: $font-weight-bold;
        font-size: $font-size-base;
        font-family: $font-family-base;
        min-width: 120px;
    }
    .terms_c {
        font-size: 16px;
        color: #343434;
        margin-left: 8px;
    }
    .ch-bx .checkbox {
        padding-top: 10px;
    }
   .ch-bx .checkbox > span {
        border-radius: 0;
        width: 24px;
        height: 24px;
    }
    .MuiInput-underline:before {
        border-bottom: 1px solid #C6DBF4;
    }
    input.form-control {
        font-size: 18px;
        color: #3F4772;
        padding: 5px 0 !important;
    }
    .MuiSelect-select:focus {
        background-color: transparent;
    }
    .coun_cde .MuiFormControl-root {
        margin: 0;
        min-width: 100%;
    }
    input.form-control::placeholder {
        color: #3F4772;
        opacity: 1; /* Firefox */
    } 
    input.form-control::-ms-input-placeholder {
       color:  #3F4772;
    } 
    input.form-control::-ms-input-placeholder {
        color:  #3F4772;
    }
    input.form-control::-moz-input-placeholder {
        color: #3F4772;
        opacity: 1; /* Firefox */
    }
    input.form-control::-webkit-input-placeholder {
        color:  #3F4772;
    } 
    .MuiInput-root {
        margin-top: 10px;
    }
    .MuiInput-underline:after {
        border-bottom: 1px solid #C6DBF4;
    }
    .MuiSelect-selectMenu {
        font-size: 18px;
    }
}
.leftPanel {
	background:#5382FC;
}

.borderRadius-10{
    border-radius: 10px !important;
}
.font-weight-600{
    font-weight: 600 !important;
}
.socialIcon{
    width: 25px;
}
.was-validated .form-control:valid, .form-control.is-valid{
    background-size: calc(0.55em + 0.45rem) calc(0.55em + 0.45rem) !important;
}
// Desktop view
@include media-breakpoint-up(lg) {
    .login.login-1 {
        .login-aside {
            width: 100%;
            //max-width: 600px;
        }

        .login-form {
            width: 100%;
            max-width: 450px;
        }
    }
}

// Tablet and Mobile mode
@include media-breakpoint-between(lg, xl) {
    .login.login-1 {
        .login-aside {
            width: 100%;
            max-width: 400px;
        }
    }
}

// Tablet mode
@include media-breakpoint-down(md) {
    .login.login-1 {
        .login-form {
            width: 100%;
            max-width: 350px;
        }
    }
}

// Mobile mode
@include media-breakpoint-down(xs) {
    .login.login-1 {
        .login-form {
            width: 100%;
            max-width: 100%;
        }
    }
}
.login.login-1 {
    .registration-form.login-signin .form-label {
        font-size: 14px !important;
        color: #9FAFC2 !important;
    }
} 
.business_info {
    .info_img {
        margin: 35px 5px 0 0;
        min-width: 35px;
        text-align: right;
    }
}