//
// Login 1
// Pages SASS files are compiled into separate css files
//


// Initialization of global variables, mixins and functions
@import "../../../init";

.login.login-1 {
    // Form modes
    .login-signin,
    .login-signup,
    .login-forgot {
        display: none;
        .form-label{
            color: $dark-85 !important;
            font-size: 15px;
            margin-bottom: 0.75rem;
        }
        .btn{
            height:56px;
        }
        .createAccountlink,.createAccountlink:hover{
            text-decoration: underline !important;
        }
    }

    &.login-signin-on {
        .login-signup {
            display: none;
        }

        .login-signin {
            display: block;
        }

        .login-forgot {
            display: none;
        }
    }

    &.login-signup-on {
        .login-signup {
            display: block;
        }

        .login-signin {
            display: none;
        }

        .login-forgot {
            display: none;
        }
    }

    &.login-forgot-on {
        .login-signup {
            display: none;
        }

        .login-signin {
            display: none;
        }

        .login-forgot {
            display: block;
        }
    }
}

.font-size-36{
    font-size: 36px !important;
}
.font-size-16{
    font-size: 16px !important;
}
.font-size-30{
    font-size: 30px !important;
}
.font-size-14{
    font-size: 14px !important;
}
.color_01234B{
    color: #01234B;
}
.loginRightimg{
    max-width: 550px;
}
.passwordIcon,.emailIcon{
    position: relative;
}
.emailIcon:before{
    content: url(/media/auth-screen/emailIcon.svg);
    position: absolute;
    top: 20px;
    left: 20px;
}
.passwordIcon:before{
    content: url(/media/auth-screen/passwordIcon.svg);
    position: absolute;
    top: 18px;
    left: 20px;
}
.login-form input.form-control{
    font-size: 14px;
}
.login-form input.form-control{
    padding-left: 50px !important;
    border-radius: 10px;
    height: 56px !important;
    color: $dark_85;
}
.borderRadius-10{
    border-radius: 10px !important;
}
.font-weight-600{
    font-weight: 600 !important;
}
.socialIcon{
    width: 25px;
}
// Desktop view
@include media-breakpoint-up(lg) {
    .login.login-1 {
        .login-aside {
            width: 100%;
            //max-width: 600px;
        }

        .login-form {
            width: 100%;
            max-width: 450px;
        }
    }
}

// Tablet and Mobile mode
@include media-breakpoint-between(lg, xl) {
    .login.login-1 {
        .login-aside {
            width: 100%;
            max-width: 400px;
        }
    }
}

// Tablet mode
@include media-breakpoint-down(md) {
    .login.login-1 {
        .login-form {
            width: 100%;
            max-width: 350px;
        }
    }
}

// Mobile mode
@include media-breakpoint-down(xs) {
    .login.login-1 {
        .login-form {
            width: 100%;
            max-width: 100%;
        }
    }
}
