/* MENU LEFT */
.cui__menuLeft {
  background: #fff;
  color: #595c97;
  transition: none;
  display: block;
  min-height: 100%;
  flex: 0 0 298px;
  max-width: 298px;
  min-width: 298px;
  width: 298px;
  position: relative;
  z-index: 100;
  /* MENU LEFT TOGGLED / MOBILE */
  /* SETTINGS */
  /* GRAY & DARK THEME */
}
.cui__layout__header.topHeaderfixed {
  /*background: #0078D4 !important;*/
  background: #fff !important;
  height: 54px;
  position: sticky;
  top: 0;
  z-index: 998;
}
.cui__layout__header.topHeaderfixed .cui__topbar {
  min-height: 54px;
  height: 54px;
}
.topHeaderfixed a,.topHeaderfixed a .dropdown-toggle-icon{
  color: #707070;
}
.topHeaderfixed .dropdown-toggle:after {
  display: none;
}
.cui__menuLeft__outer {
  background: #fff;
  position: fixed;
  height: 100%;
  width: inherit;
  max-width: inherit;
  border-right: 1px solid #e9ebf0;
}

.cui__menuLeft__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  width: 100%;
}

.cui__menuLeft__logo__container {  
  display: grid;
  align-items: center;
  padding: 0 16px 0 19px; 
  position: relative;
}

.cui__menuLeft__logo__name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    font: 500 14px/1 "Gotham Pro","Proxima Nova",arial,serif;
    text-transform: capitalize;
    color: #292d34;
    padding-top: 18px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: color .2s cubic-bezier(.785,.135,.15,.86) 0s;
    cursor: pointer;
}
.cui__menuLeft__navigation > li.cui__menuLeft__item:first-child > .cui__menuLeft__item__link:hover{
  background-color: transparent;
}
/*.cui__menuLeft__item a.cui__menuLeft__item__link{
  padding-left: 4px;
}*/
.cui__menuLeft__logo__descr {
  margin-left: 0.73rem;
  padding-left: 0.73rem;
  height: 2.53rem;
  line-height: 2.53rem;
  border-left: 1px solid #e4e9f0;
  font-size: 0.93rem;
}

.cui__menuLeft__trigger {
  cursor: pointer;
  position: fixed;
  z-index: 3;
  bottom: 0;
  width: 298px;
  height: 48px;
  background: #f2f4f8;
}

.cui__menuLeft__trigger:after {
  content: '';
  display: block;
  width: 9px;
  height: 9px;
  position: absolute;
  top: 45%;
  left: 50%;
  border-left: 2px solid #9c94be;
  border-top: 2px solid #9c94be;
  transform: rotate(-45deg);
}

@media (max-width: 767px) {
  .cui__menuLeft__trigger {
    display: none;
  }
}

.cui__menuLeft__scroll {
  height: calc(100% - 64px - 48px);
  padding-top: 8px;
}

@media (max-width: 767px) {
  .cui__menuLeft__scroll {
    height: calc(100% - 64px);
  }
}

.cui__menuLeft__banner {
  padding: 1.33rem;
  background: #f2f4f8;
  border-radius: 3px;
  margin: 1.33rem;
  overflow: hidden;
  border: 1px solid #e4e9f0;
}

.cui__menuLeft__navigation {
  list-style: none;
  margin: 0;
  padding: 0 10px;
}

.cui__menuLeft__navigation .cui__menuLeft__navigation {
  padding: 0;
}

.cui__menuLeft__navigation .cui__menuLeft__navigation .cui__menuLeft__item__link {
  padding-left: 30px;
}

.cui__menuLeft__category {
  color: #c8c4db !important;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 8px 16px;
}

.cui__menuLeft__item {
  border-radius: 5px;
}

.cui__menuLeft__item__link {
  position: relative;
  height: 36px;
  line-height: 36px;
  /*white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;*/
  padding: 0 34px 0 15px;
  display: flex;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
  color: #292d34 !important;
}
.cui__menuLeft__item__link svg + span{
  padding-left: 12px;
}
.cui__menuLeft__item__link:hover {
  color: var(--kit-color-primary) !important;
  background: #e4e9f0;
}

.cui__menuLeft__item__link:hover .cui__menuLeft__item__icon {
  color: var(--kit-color-primary);
}

.cui__menuLeft__item__icon {
  text-align: center;
  position: absolute;
  right: 8px;
  width: 20px;
  top: 8px;
  margin: 0 !important;
  line-height: 1 !important;
  color: #71717e;
  font-size: 1.13rem;
  transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.1s ease-in-out;
}
.cui__menuLeft__item__icon_search {
  text-align: center;
  position: absolute;
  right: 21px;
  width: 21px;
  top: -3px;
  margin: 0 !important;
  line-height: 1 !important;
  color: #71717e;
  font-size: 1.13rem;
  transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.1s ease-in-out;
}

.cui__menuLeft__item--active {
  background: var(--kit-color-primary) !important;
  color: #fff !important;
}
.cui__menuLeft__item--active svg g{
  fill-rule:evenodd;
  stroke:#fff;
}
.cui__menuLeft__item--active:hover {
  background: var(--kit-color-primary) !important;
  color: #fff !important;
}

.cui__menuLeft__item--active .cui__menuLeft__item__icon {
  color: #fff !important;
}

.cui__menuLeft__item--disabled {
  color: #c8c4db !important;
  background: transparent !important;
}

.cui__menuLeft__item--disabled .cui__menuLeft__item__link {
  color: #c8c4db !important;
  background: transparent !important;
}

.cui__menuLeft__item--disabled .cui__menuLeft__item__icon {
  color: #c8c4db;
}

.cui__menuLeft__submenu {
  transition: all 0.1s ease-in-out;
  will-change: transform;
  padding-left: 16px;
}

.cui__menuLeft__submenu > .cui__menuLeft__navigation {
  display: none;
  padding-bottom: 4px;
}

.cui__menuLeft__submenu > .cui__menuLeft__item__link:before {
  content: '';
  position: absolute;
  top: 17px;
  vertical-align: baseline;
  display: inline-block;
  margin-left: 0em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.35em solid #b9bec7;
  border-right: 0.28em solid transparent;
  border-bottom: 0;
  border-left: 0.28em solid transparent;
  transition: all 0.3s;
  transition: all 0.2s ease-in-out;
}

.cui__menuLeft__submenu > .cui__menuLeft__item__link:after {
  transform: rotate(45deg) translateX(-2px);
}

.cui__menuLeft__submenu > .cui__menuLeft__item__link:before {
  transform: rotate(-90deg) translateX(2px);
}
/*
.cui__menuLeft__submenu > .cui__menuLeft__item__link:hover:after,
.cui__menuLeft__submenu > .cui__menuLeft__item__link:hover:before {
  background: var(--kit-color-primary);
}
*/
.cui__menuLeft__submenu--toggled {
  background: #e4e9f0;
}

.cui__menuLeft__submenu--toggled > .cui__menuLeft__item__link:after {
  transform: rotate(-90deg) translateX(-1px) translateY(-1px);
}

.cui__menuLeft__submenu--toggled > .cui__menuLeft__item__link:before {
  transform: rotate(0deg) translateX(1px) translateY(-1px);
}

@media (max-width: 767px) {
  .cui__menuLeft {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    transform: translate(-256px, 0);
    transition: transform 0.3s ease-in-out;
  }
  .cui__menuLeft--mobileToggled .cui__menuLeft {
    transform: translate(0, 0);
  }
  .cui__menuLeft--mobileToggled .cui__menuLeft__backdrop {
    opacity: 0.4;
    visibility: visible;
  }
  .cui__menuLeft__scroll {
    overflow-y: auto;
  }
  .cui__menuLeft__backdrop {
    position: fixed;
    z-index: 99;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #141322;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out;
  }
  .cui__menuLeft__mobileTrigger {
    position: absolute;
    right: -41px;
    top: 72px;
    width: 41px;
    height: 40px;
    cursor: pointer;
    z-index: 0;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    background: #141322;
    border-radius: 0 4px 4px 0;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.15);
  }
  .cui__menuLeft__mobileTrigger span {
    display: inline-block;
    width: 14px;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50;
    margin: -1px 0 0 -7px;
  }
  .cui__menuLeft__mobileTrigger span:after,
  .cui__menuLeft__mobileTrigger span:before {
    content: '';
    display: block;
    position: absolute;
    background: #fff;
    width: 100%;
    height: 2px;
  }
  .cui__menuLeft__mobileTrigger span:before {
    top: -5px;
  }
  .cui__menuLeft__mobileTrigger span:after {
    top: 5px;
  }
}

@media (min-width: 767px) {
  .cui__menuLeft--toggled .cui__menuLeft {
    flex: 0 0 80px;
    max-width: 80px;
    min-width: 80px;
    width: 80px;
  }
  .cui__menuLeft--toggled .cui__menuLeft:hover .cui__menuLeft__outer {
    max-width: 298px;
    min-width: 298px;
    width: 298px;
  }
  .cui__menuLeft--toggled .cui__menuLeft:hover .cui__menuLeft__trigger:after {
    left: 50%;
    transform: rotate(-225deg);
  }
  .cui__menuLeft--toggled .cui__menuLeft:not(:hover) .cui__menuLeft__logo__name,
  .cui__menuLeft--toggled .cui__menuLeft:not(:hover) .cui__menuLeft__logo__descr {
    display: none !important;
  }
  .cui__menuLeft--toggled .cui__menuLeft:not(:hover) .cui__menuLeft__trigger {
    width: 80px;
  }
  .cui__menuLeft--toggled .cui__menuLeft:not(:hover) .cui__menuLeft__trigger:after {
    left: 40%;
    transform: rotate(-225deg);
  }
  .cui__menuLeft--toggled .cui__menuLeft:not(:hover) .cui__menuLeft__category {
    overflow: hidden;
    text-indent: -999px;
    position: relative;
    padding-left: 0;
    padding-right: 0;
  }
  .cui__menuLeft--toggled .cui__menuLeft:not(:hover) .cui__menuLeft__category:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    height: 1px;
    background: #e4e9f0;
    width: 100%;
  }
  .cui__menuLeft--toggled .cui__menuLeft:not(:hover) .cui__menuLeft__item__title {
    display: none;
  }
  .cui__menuLeft--toggled .cui__menuLeft:not(:hover) .cui__menuLeft__item__link:before,
  .cui__menuLeft--toggled .cui__menuLeft:not(:hover) .cui__menuLeft__item__link:after {
    display: block;
  }
  .cui__menuLeft--toggled .cui__menuLeft:not(:hover) .cui__menuLeft__item .badge {
    position: absolute;
    top: 3px;
    right: 3px;
  }
  .cui__menuLeft--toggled
    .cui__menuLeft:not(:hover)
    .cui__menuLeft__submenu
    .cui__menuLeft__navigation {
    display: none !important;
  }
  .cui__menuLeft--toggled .cui__menuLeft:not(:hover) .cui__menuLeft__banner {
    display: none;
  }
}

.cui__menuLeft--unfixed .cui__menuLeft__outer {
  position: relative;
}

.cui__menuLeft--unfixed .cui__menuLeft__scroll {
  height: auto;
  padding-bottom: 3.33rem;
}

.cui__menuLeft--shadow .cui__menuLeft {
  box-shadow: 0 0 100px -30px rgba(57, 55, 73, 0.3);
  z-index: 1;
}

.cui__menuLeft--gray .cui__menuLeft {
  background: #f2f4f8;
}

.cui__menuLeft--gray .cui__menuLeft__outer {
  background: #f2f4f8;
}

.cui__menuLeft--dark .cui__menuLeft {
  color: #7575a3;
  background: #0c0c1b;
}

.cui__menuLeft--dark .cui__menuLeft__outer {
  background: #0c0c1b;
}

.cui__menuLeft--dark .cui__menuLeft__logo__name {
  color: #fff;
}

.cui__menuLeft--dark .cui__menuLeft__logo__descr {
  color: #7575a3;
  border-left: 1px solid #232135;
}

.cui__menuLeft--dark .cui__menuLeft__category {
  color: #3b3b5b !important;
}

.cui__menuLeft--dark .cui__menuLeft__category:after {
  background-color: #232135 !important;
}

.cui__menuLeft--dark .cui__menuLeft__item__icon {
  color: #7575a3;
}

.cui__menuLeft--dark .cui__menuLeft__item__link {
  color: #7575a3 !important;
}

.cui__menuLeft--dark .cui__menuLeft__item__link:hover {
  color: var(--kit-color-primary) !important;
  background: #232135 !important;
}

.cui__menuLeft--dark .cui__menuLeft__item__link.cui__menuLeft__item--active {
  background: var(--kit-color-primary) !important;
  color: #fff !important;
}

.cui__menuLeft--dark .cui__menuLeft__item__link:after,
.cui__menuLeft--dark .cui__menuLeft__item__link:before {
  background: #3b3b5b;
}

.cui__menuLeft--dark .cui__menuLeft__submenu--toggled {
  background: #232135 !important;
}

.cui__menuLeft--dark .cui__menuLeft__banner {
  background: #232135;
  border: 1px solid #232135;
}

.cui__menuLeft--dark .cui__menuLeft__trigger {
  background: #14142d;
}

.cui__menuLeft--dark .cui__menuLeft__trigger:after {
  border-left-color: #4f4f7a;
  border-top-color: #4f4f7a;
}
.costomLeftmenuouter {
  width: 55px;
  z-index: 101;
}
.fixedLeftmenu {
  background: #fff;
  position: fixed;
  height: 100%;
  width: inherit;
  max-width: inherit;
  border-right: 1px solid #e9ebf0;
}
.customLeftmenu {
  padding: 0rem;
  margin-bottom: 8px;
}
.bottomLeftmenu .customLeftmenu {
  margin-top: 5px;
  padding: 10px 0 5px;
  margin-bottom: 0px;
}
.customLeftmenu li {
  /*margin: 0rem 0;
  display: inline-block;
  width: 100%;
  text-align: center;*/
  display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    flex-shrink: 0;
    position: relative;
    z-index: 10;
}
.customLeftmenu li a {
  padding: 0px;
  margin: 3px auto;
  text-align: center;
  height: 36px;
  display: grid;
  width: 36px;
  overflow: visible;
  align-content: center;
  transition: all .2s cubic-bezier(.785,.135,.15,.86) 0s;
}
.leftmenuMoreoption{
  height: 42px;
  align-items: start !important;
}
.leftmenuMoreoption a{
  transform: rotate(90deg);
}
.leftmenuMoreoption a{
  margin: 0 !important;
}
.customLeftmenu li a svg {
  max-width: 18px;
  max-height: 18px;
  margin: auto;
}
.customLeftmenu li a img {
  max-width: 18px;
  max-height: 100%;
  margin: auto;
}
.customLeftmenu li a img.activeIMG,.customLeftmenu li a.cui__menuLeft__item--active img.defaultIMG,.cui__menuLeft__item__link:hover img.defaultIMG {
  display: none;
}
.customLeftmenu li a.cui__menuLeft__item--active img.activeIMG,.cui__menuLeft__item__link:hover img.activeIMG {
  display: block;
}
.medicianList div{
  margin: 0 3px !important;
  background: #e8f0ff;
  padding: 3px;
  border-radius: 3px;
  display: inline-flex !important;
  font-size: 12px;
  position: relative;
}
.medicianList div span:first-child{
  margin-right: 0.25rem;
}
.medicianList div .close{
  display: inline-flex !important;
  font-size: 12px;
  margin: auto;
}
.customLeftmenu li a.cui__menuLeft__item--active svg path:first-child{
  fill: #fff;
  fill-rule: inherit;
}
.cui__menuLeft__item--active svg path{
  fill-rule: evenodd;
  fill: #0ab4ff;
}
.submenuLogoicon{
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 21px;
  padding: 0;
  color: #fff;
  text-align: center;
  border-radius: 25%;
  font-size: 12px;
  font-weight: 600;
  font-family: "Proxima Nova",arial,serif;
  margin-right: 9px;
}
.cui__menuLeft__submenu--toggled > .cui__menuLeft__item__link .cui__menuLeft__item__title .submenuLogoicon{
background-color: var(--kit-color-primary);
}
.cui__menuLeft__item__link .cui__menuLeft__item__title .submenuLogoicon {
  background-color: #707070;
}
.currentActiveclass .cui__menuLeft__item__link .cui__menuLeft__item__title .submenuLogoicon {
  background-color:var(--kit-color-primary);
}
.submenuCustomicon{
  right:5px;
}
.submenuCustomicon i{
  margin: auto 5px;
  font-size: 18px;
}
.cui__menuLeft__item__link:hover .cui__menuLeft__item__icon{
  /*display: flex;*/
}
.cui__menuLeft__submenu--toggled{
  background-color: transparent;
}
.cui__menuLeft__submenu--toggled > .cui__menuLeft__item__link{
  background-color: #e9ebf080 ;
}
.cui__menuLeft__item__link:hover{
  background-color:rgba(233,235,240,.5);
}
/*.cui__menuLeft__item .cui__menuLeft__item__link:hover .cui__menuLeft__item__title,.cui__menuLeft__item .cui__menuLeft__item__link:hover .cui__menuLeft__item__icon{
  color: #fff !important;
}
.cui__menuLeft__navigation .cui__menuLeft__navigation .cui__menuLeft__item__link:hover::before{
  border-color: #fff;
} 
.cui__menuLeft__item__link:hover .cui__menuLeft__item__title .submenuLogoicon,.cui__menuLeft__submenu > .cui__menuLeft__item__link:hover:after, .cui__menuLeft__submenu > .cui__menuLeft__item__link:hover:before{
  background-color:transparent;
  color:var(--kit-color-primary);
}*/
.cui__menuLeft__item__link{
  padding-left:10px;
}
.cui__menuLeft__navigation .cui__menuLeft__navigation .cui__menuLeft__item__link{
  height: 30px;
  line-height: 30px;
  padding-left: 25px;
  color: #707070 !important;
  font-size: 0.875rem;
}
.cui__menuLeft__navigation .cui__menuLeft__navigation a.cui__menuLeft__item__link .cui__menuLeft__item__title{
  color: #4a4f55;
  font: 400 13.5px/1 "Gotham Pro","Proxima Nova",arial,serif;
}
span.cui__menuLeft__item__link .cui__menuLeft__item__title,
.cui__menuLeft__item > a.cui__menuLeft__item__link .cui__menuLeft__item__title{
  font: 500 14px/1 "Gotham Pro","Proxima Nova",arial,serif;
  text-transform: capitalize;
  vertical-align: middle;
  margin: auto 0;
  display: flex;
    align-content: center;
    align-items: center;
}
.cui__menuLeft__navigation .cui__menuLeft__navigation .cui__menuLeft__item__link.cui__menuLeft__item--active .cui__menuLeft__item__title{
  color: #fff !important;
}
.cui__menuLeft__navigation .cui__menuLeft__navigation .cui__menuLeft__item__link::before{
  content:'';
  position: absolute;
  left:8px;
  top: 11px;
  border:1px dashed #343434;
  width:8px;
  height:8px;
  border-radius: 50%;
}
.cui__menuLeft__navigation .cui__menuLeft__navigation .cui__menuLeft__item__link.cui__menuLeft__item--active::before{
  border-color:#fff;
}
.cui__menuLeft__submenu > .cui__menuLeft__item__link:after, .cui__menuLeft__submenu > .cui__menuLeft__item__link:before{
  left: -9px;
  right:auto;
}
.fixedLeftmenu .cui__menuLeft__scroll {
  height: calc(100% - 182px - 316px);
}
.fixedLeftmenu .cui__menuLeft__logo__container::after{
content: '';
position: absolute;
background-color: #e9ebf0;
height: 2px;
width:60%;
bottom: 0;
left: 20%;
}
.bottomLeftmenu{
    padding: 10px 0 5px;
}
.leftmenuProfileicon {
  text-align: center;
    height: 100%;
    border-top: 1px solid #f0f0f0;
    width: 100%;
    display: inline-block;
    padding: 10px 0 5px;
}


.leftmenuProfileicon span {
  width: 29px;
  height: 29px;
  border-radius: 50%;
  display: block;
  line-height: 26px;
  color: #fff;
  border: 0px solid #fff;
  margin: 0px auto;
  font-size: 12px;
  font-weight: 500;
  position: relative;
  font-family: "Gotham Pro","Proxima Nova",arial,serif;
  box-shadow: 0 0 0px 2px #ffffff;
}
.leftmenuProfileicon span.currentUserprofile {
  box-shadow: 0 0px 0px 1px #1D6AFF ;
}
.leftmenumodalProfileicon {
  text-align: center;
    height: 100%;
    width: auto;
    display: inline-block;
    padding:0;
}
.leftmenumodalProfileicon span {
  width: 29px;
  height: 29px;
  border-radius: 50%;
  display: block;
  line-height: 28px;
  color: #fff;
  border: 0px solid #fff;
  margin: 5px auto;
  font-size: 12px;
  font-weight: 500;
  position: relative;
  font-family: "Gotham Pro","Proxima Nova",arial,serif;
  box-shadow: 0 0 0px 2px #ffffff;
}
.leftmenumodalProfileicon span.currentUserprofile {
  box-shadow: 0 0px 0px 1px #1D6AFF ;
}

.leftMenumodallink ul > li:first-child{
  background:rgba(75,124,243,0.2);
  border-radius: 5px;
  padding: 0 5px;
}
.bottomLeftmenu .customLeftmenu li:last-child {
  height: auto;
  min-height: 60px;
}
.bottomLeftmenu .customLeftmenu li:last-child a {
  height: 100%;
  border-top:1px solid #f0f0f0;
  width:100%;
}
.bottomLeftmenu .customLeftmenu li:last-child a:hover {
  background-color: transparent;
}
.frontProfile {
  margin-top: -10px !important;
}
.bg-red {
  background-color: #f00;
}
.bg-blue {
  background-color: #00f;
}
.bg-green {
  background-color: #0f0;
}
.bg-pink {
  background-color: #ff00b1;
}
}
.bg-orange {
  background-color: #FF6600;
}

@media (min-width: 576px) {
  .bottomLeftmenuModal .modal-dialog {
    max-width: 450px;
    margin: 0 0 10px 10px;
    min-height: calc(100% - 10px);
    display: flex;
    align-items: flex-end;
  }
  .bottomLeftmenuModal .modal-content {
    box-shadow: 0 0px 30px 0px rgb(138 201 255);
    background: #fff;
    border-radius: 6px;
    z-index: 1000;
    pointer-events: all;
    max-height: calc(100vh - 20px);
  }
  
  .commonModalright .modal-dialog {
    max-width: 750px;
    margin: 5vh 0 5vh auto;
    height: calc(100% - 10vh);
    min-height: auto;
  }
  .commonModalright .modal-content {
    z-index: 1000;
    pointer-events: all;
    height: 100%;
  }
  .modal-dialog-scrollable .modal-content{
    overflow: visible;
  }
}
.commonModalright {
  padding:0px !important;
}
.commonModalright .close{
  position: absolute;
    left: -50px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background: #c0c0c0 !important;
    border-radius: 50%;
    text-align: center;
    opacity: 1;
    z-index: 99999999;
    box-shadow: 0 0px 30px 0px rgb(138 201 255) !important;
    font-size: 36px;
    font-weight: normal;
    text-shadow: 2px 0 0 #777777;
    padding: 0px;
}
.modal-backdrop {
  background-color: transparent;
}
.modal.fade.modal-left .modal-dialog {
  transform: translate(-125%, 0px);
}
.modal.fade.modal-right .modal-dialog {
  -webkit-transform: translate(125%, 0);
    transform: translate(125%, 0);
  box-shadow: 0 0px 30px 0px rgb(138 201 255);
  background: #fff;
  border-radius: 6px 0 0 6px;
}

.modal.show.modal-left .modal-dialog,.modal.show.modal-right .modal-dialog {
  transform: none;
}
.CustomLogo {
  height: 100%;
  padding: 11px 0 13px;
  max-height: 56px;
}
.cui__menuLeft__logo svg {
  max-width: 60%;
  max-height: 100%;
  margin: auto;
}

@media (min-width: 767px) {
  .cui__menuLeft--toggled .costomLeftmenuouter:hover + .cui__menuLeft .cui__menuLeft__outer {
    max-width: 298px;
    min-width: 298px;
    width: 298px;
  }
  .cui__menuLeft--toggled .costomLeftmenuouter:hover + .cui__menuLeft .cui__menuLeft__trigger {
    width: 298px;
  }
  .cui__menuLeft--toggled .costomLeftmenuouter + .cui__menuLeft {
    flex: 0 0 0px;
    max-width: 0;
    min-width: 0;
    width: 0;    
    z-index: 1000;
  }

  .cui__menuLeft--toggled .costomLeftmenuouter:hover + .cui__menuLeft .cui__menuLeft__item__title,
  .cui__menuLeft--toggled .costomLeftmenuouter:hover + .cui__menuLeft .cui__menuLeft__logo__descr {
    display: initial;
  }

  .cui__menuLeft--toggled
    .costomLeftmenuouter:hover
    + .cui__menuLeft
    .cui__menuLeft__submenu--toggled
    .cui__menuLeft__navigation,
  .cui__menuLeft--toggled .costomLeftmenuouter:hover + .cui__menuLeft .cui__menuLeft__logo__name {
    display: block !important;
  }
  .cui__menuLeft--toggled .costomLeftmenuouter:hover + .cui__menuLeft .cui__menuLeft__item .badge {
    position: relative;
    top: auto;
    right: auto;
  }
}

.cui__layout--grayBackground {
    background: #eeeeee  !important;
}
.cui__sidebar__toggleButton,.cui__sidebar__toggleButton:hover{
 background: #17e38e !important; 
}
.cui__sidebar__toggleButton i{
color: #fff !important;
}
.w-50px {
  width: 50px;
}
.minHeight250{
  min-height: 250px;
}
.minHeight300{
  min-height: 300px;
}
.leftMenumodallink ul li a{
  display: inline-block;
  width: 100%;
  padding: 0.3rem 0;
  color: #676767;
  font-size: 0.8rem;
}
.leftMenumodallink ul li a:hover{
  color: #1d6aff;
}

.leftmenuModalfooter ul li{
  margin-right: 0.7rem;
  width:26px;
  height:25px;
  border:1px dashed #676767;
  display: flex;
  border-radius: 50%;
  text-align: center;
}
.leftmenuModalfooter ul li a{
margin: auto;
}
.leftmenuModalfooter ul li a i{
  color: #676767;
}
.leftmenuModalfooter ul li:first-child{
  width:auto;
  border:0px;
  border-radius: 0;
}
.contentAreaouter{
  display: flex;
    width: 100%;
  margin-bottom: 2rem;
}
.contentArea{
  display: inline-block;
    position: relative;
    flex-grow: 1;
  padding-left: 2rem;
}
.toggleLefticon{
  position: absolute;
    left: -20px;
    top: 26px;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.toggleLefticon a{  
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
  border: 1px solid #707070;
  border-radius: 50%;
  color: #707070;
  line-height: 14px;
  align-items: center;
}
.toggleLefticon a i{  
  transition: all 0.3s;
  transition: all 0.2s ease-in-out;  
  transform: rotate(0deg);
  width: 100%;
  font-size: 10px;
}
.toggleLefticon .collapsed i{
  transform: rotate(-90deg);
  transition: all 0.3s;
  transition: all 0.2s ease-in-out; 
}
.topHeadercontent li:first-child{
  padding: 0px;
  vertical-align: bottom !important;
}
.topHeadercontent li:first-child  span{
  padding: 3px 10px;
}
.topHeadercontent li span{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Gotham Pro","Proxima Nova",arial,serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 1;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: rgba(52,52,52,.5);
  padding: 6px 0 4px;
}
.headingHighlight{
  font-family: "Gotham Pro","Proxima Nova",arial,serif;
    display: inline-flex;
    align-items: center;
    height: 20px;
    line-height: 12px;
    padding: 0 7px;
    border: 1px solid transparent;
    border-radius: 3px 3px 0 0;
    font-size: 11px;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    z-index: 10;
    align-self: flex-end;
    cursor: pointer;
    vertical-align: bottom;
    margin-right: 10px;
}
.topHeadercontent li:first-child span:last-child{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Gotham Pro","Proxima Nova",arial,serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 1;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: rgba(52,52,52,.5);
  padding: 6px 0 4px;
  vertical-align: bottom;
  display: inline-flex;
}
.headingHighlight a{
  display: none;
  cursor: pointer;
}
.headingHighlight a,.headingHighlight a:hover{
  margin-left: 0px;
  color: inherit;
  width: 18px;
  height: 100%;
  text-align: center;
  border-left: 1px solid rgba(112,112,112,0.2);
}
.headingHighlight a:last-child{
  margin-right:-10px;
}
.headingHighlight:hover a{
  display: inline-block;
}
.contentArea .topMiddlecontent ul{
  border: 0px solid #fff;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.05);
  position: relative;
}
.contentArea .topMiddlecontent ul:hover:before{
content:'';
position: absolute;
left: -15px;
top: 10px;
width: 5px;
height:25px;
background-color: #0078D4;
}
.contentArea ul{
  margin: 0px;
  display: table;
  width: 100%;
  padding: 0px;
  list-style: none;
  border-bottom: solid 1px #e9e9e9;
}
.topHeadercontent{
   position: -webkit-sticky;
  position: sticky;
  top: 108px;
  z-index: 99;
    background: #eeeeee;
}
.topHeadercontent ul{
  height: 45px;
}
.topMiddlecontent{
  background-color: #fff;
}
/*.topMiddlecontent{
margin-bottom: 2rem;
}*/
.topMiddlecontent li{
  text-align: center;
  background-color: rgba(255,255,255,0.9);
}
.topMiddlecontent li.activeStatuscontent{
  font-size: 13px;
  font-weight: 500;
  color: #fff;
}
.topMiddlecontent li a.userLogoicon{
  display: flex;
  cursor: pointer;
}

.topMiddlecontent li span{
  display: initial;
  margin: auto 0;  
  font-size: 14px;
  font-family: var(--kit-font-family);
  color: #707070;
}
span.listprofileIcon{
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 0.7rem !important;
  line-height: 28px;
  text-align: center;
  color: #fff !important;
  font-size: 12px !important;
  transform: scale(0.9);
  transition: all 0.5s ease-in-out;
}
span.listprofileIcon:hover{
  transform: scale(1);
  transition: all 0.5s ease-in-out;
}
.rounddashedCircle{
  width: 22px;
  height: 22px;
  border-radius: 50%;
  line-height: 20px;
  font-size: 10px !important;
  display: inline-block !important;
  border: 1px dashed #707070;
  color: #4a4a4a
}
.customProfileBG1{
  background-color: #ff1d1d !important;
}
.customProfileBG2{
  background-color: #1d58ff !important;
}
.customProfileBG3{
  background-color: #301414 !important;
}
.customProfileBG4{
  background-color: #2ecd6f !important;
}
.customProfileBG5{
  background-color: #6fd197 !important;
}
.customProfileBG6{
  background-color: #e2871b !important;
}
.customProfileBG7{
  background-color: #ff7fab !important;
}
.customProfileBG8{
  background-color: #b500e2 !important;
}
.customProfileBG9{
  background-color: #04a9f4 !important;
}
.customProfileBG10{
  background-color: #7c4dff !important;
}
.customProfileBG11{
  background-color: #6bc950 !important;
}
.customProfileBG12{
  background-color: #0231e8 !important;
}
.customProfileBG13{
  background-color: #02bcd4 !important;
}
.textColor1{
  color: #ff1d1d !important;
}
.textColor2{
  color: #1d58ff !important;
}
.textColor3{
  color: #301414 !important;
}
.textColor4{
  color: #00716a !important;
}
.textColor5{
  color: #6fd197 !important;
}
.textColor6{
  color: #e2871b !important;
}
.textColor7{
  color: #f5136d !important;
}
.textColor8{
  color: #b500e2 !important;
}
.textColor9{
  color: #0d97e8 !important;
}
.textColor10{
  color: #faad15 !important;
}
.textColor11{
  color: #6bc950 !important;
}
.textColor12{
  color: sienna !important;
}
.textColor13{
  color: #D67449 !important;
}
.textColor14{
  color: #763232 !important;
}
.textColor15{
  color: #00716A !important;
}
.textColor16{
  color: #FF1D1D !important;
}
.borderColor1{
  border-color: #ff1d1d !important;
}
.borderColor2{
 border-color: #1d58ff !important;
}
.borderColor3{
  border-color: #301414 !important;
}
.borderColor4{
  border-color: #00716a !important;
}
.borderColor5{
  border-color: #6fd197 !important;
}
.borderColor6{
  border-color: #e2871b !important;
}
.borderColor7{
  border-color: #f5136d !important;
}
.borderColor8{
  border-color: #b500e2 !important;
}
.borderColor9{
  border-color: #0d97e8 !important;
}
.borderColor10{
  border-color: #faad15 !important;
}
.borderColor11{
  border-color: #6bc950 !important;
}
.borderColor12{
  border-color: sienna !important;
}
.borderColor13{
  border-color: #D67449 !important;
}
.topHeadercontent li,.topMiddlecontent li{
display: table-cell;
min-width: 105px;
padding:5px 0;
text-align: center;
vertical-align: middle;
color: #303030;
font-size: 12px;
font-family: var(--kit-font-family);
}
.topHeadercontent li{
  font-size: 10px;
  padding-bottom: 0px !important;
  text-transform: uppercase;
  padding-left: 0px !important;
}
.topHeadercontent li:first-child,.topMiddlecontent li:first-child{
min-width: 250px;
width: 100%;
max-width: initial;
text-align: left;
vertical-align: bottom;
padding-left: 15px;
}
.topMiddlecontent li:first-child .userLogoicon span:last-child{
  transition: color .2s cubic-bezier(.785,.135,.15,.86) 0s;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Gotham Pro","Proxima Nova",arial,serif;
    font-weight: 400;
    font-size: 13.5px;
    line-height: 1.5;
    padding-right: 11px;
    margin-right: 0;
    color: #000;
}
.topHeadercontent li:last-child .addMultiplecolumn{
position: absolute;
right: 5px;
top: 9px;
vertical-align: middle;
width: 20px;
height: 20px;
line-height: 21px;
padding: 0;
}
.form-control,.custom-select{
  border-radius: 0px;
}
.form-row > .col, .form-row > [class*="col-"] {
  padding-right: 10px;
  padding-left: 10px;
}
.customColorlist{
  display: inline-block;
  white-space: initial;
  min-width: 145px;
}
.customColorlist li{
  display: inline-block;
}
.customColorlist li span{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  line-height: 20px;
  display: inline-block !important;
  text-align: center;
  margin:0px;
  font-size: 10px;
  color: #fff !important;
  cursor: pointer;
  text-indent: 150px;
  overflow: hidden;
}
.cui__menuLeft__submenu > .cui__menuLeft__navigation{
  padding-left: 20px;
}
.leftmenuTitlesearch{
  padding: 0 19px;
  font: 500 14px/1 "Gotham Pro","Proxima Nova",arial,serif;
    text-transform: capitalize;
    color: #292d34;
    margin: 20px 0 10px 0;
  font-weight: 500;
  display: inline-block;
    width: 100%;
  position: relative;
}
.leftmenuTitlesearch span{
  font: 500 14px/1 "Gotham Pro","Proxima Nova",arial,serif;
    text-transform: capitalize;
    color: #292d34;
}
.leftmenuProfileicon .backProfile::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: auto;
  right: 0;
  width: 9px;
  height: 9px;
  background-color: #1ad67b;
  border: 1px solid #fff;
  border-radius: 50%;
}
.customeListtable tbody tr td,.customeListtable thead tr th{
  text-align: center;
}
.customeListtable thead tr th:first-child{
padding-bottom: 0px;
padding-left: 0px;
}
.customeListtable thead tr th span{
  padding: 5px 10px;
  font-family: var(--kit-font-family);
  font-weight: 400;
}
.customeListtable thead tr th{
  font-size: 10px;
  text-transform: uppercase;
}
.customeListtable tbody{    
  background-color: #fff;
}
.customeListtable tbody tr td{    
    vertical-align: middle;
    color: #303030;
    font-size: 12px;
    font-family: var(--kit-font-family);
    padding: 0.3rem 0.75rem;
}
.customeListtable tbody tr td:first-child,.customeListtable thead tr th:first-child{
  min-width: 250px;
    width: 100%;
    max-width: initial;
    text-align: left;
}
.tableFixHead          {position: sticky; top: 0;  }

.customeDropdownmenu li a > svg,.customeDropdownmenu li a > span{
  display: flex;
  margin:auto 0;
}
.customeDropdownmenu > li{
  margin: 0 0 2px 0;
}
.filterFixedheader{
  display: flex;
  height: inherit;
  margin-top: -2rem;
  margin-bottom: 1rem;
  background: transparent;
  box-shadow: none !important;
  font-size: 12px;
}
.filterFixedheader .btn,.filterFixedheader .btn:hover,.filterFixedheader .btn:focus,.filterFixedheader .btn:active,
.filterFixedheader .btn-light:not(:disabled):not(.disabled):active,.filterFixedheader .btn-light:not(:disabled):not(.disabled).active,
.filterFixedheader .show > .btn-light.dropdown-toggle{ 
  background: transparent;
  box-shadow: none !important;
  font-size: 12px;
  border:0px;
  padding-left: 5px;
  color: #707070 !important;
}
.filterFixedheader .card-body{
  position: fixed;
  top: 54px;
  right: 2rem;
  width: calc(100% - 392px - 0.5rem);
  background: #eee;
  z-index: 999;
  border-radius: 0px !important;
  padding: 12px 0;
}
.filterFixedheader .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
  width:auto;
  min-width: 80px;
}
.filterFixedheader .bootstrap-select .dropdown-menu li{
  border-bottom: 1px solid #eeeeee;
}
.filterFixedheader .bootstrap-select .dropdown-menu li:last-child{
  border: 0px;
}
.filterFixedheader .bs-searchbox .form-control{
  height: 26px;
  background: #f2f4f8;
  border-radius: 5px;
  margin: 5px 0 0;
}
.filterFixedheader .bootstrap-select .dropdown-menu li a span.text{
  font-size: 12px;
  min-width: 70px;
}
.filterFixedheader .dropdown .dropdown-menu .dropdown-item.active:after,.filterFixedheader  .btn-group .dropdown-menu .dropdown-item.active:after{
  content:"\f00c";
  position: absolute;
  right: 5px;
  font-family: 'FontAwesome';
  font-size: 10px;
  top: 7px;
  font-weight: normal;
}
.filterFixedheader  .dropdown .dropdown-menu{
  padding: 0;
}
.filterFixedheader  .dropdown .dropdown-menu .dropdown-item{
  padding-left: 0.5rem;
}
.filterFixedheader  .dropdown .dropdown-menu .dropdown-item.active{
  background: transparent !important;
}
.filterFixedheader .form-control{
  background: transparent;
  font-size: 12px;
  border: 0;
  box-shadow: none;
  padding: 0;
  height: auto;
}
.filterFixedheader .bootstrap-select.show-tick .dropdown-menu .selected span.check-mark{
  top:10px;
}
.filterFixedheader .bootstrap-select .bs-ok-default:after {
  content: '';
  display: block;
  width: 0.3em;
  height: 0.6em;
  border-style: solid;
  border-width: 0 .17em .17em 0;
}
.filterFixedheader .form-group{
  margin: auto;
}
.pageTitlecontent{
  position: relative;
}
.pageTitlecontent .toggleLefticon{
  top:4px;
}